.case__title.title {
  margin-top: 139px; }

.case__descr {
  margin-top: 20px;
  line-height: 30px;
  font-family: "MullerMedium";
  font-size: 20px;
  color: #858484; }

.list__item.case_list__item {
  margin-top: 28px;
  padding: 15px 23px; }

.case320allcat {
  display: none; }

.casefooter {
  margin-top: 50px; }

.case320unvisible {
  display: flex;
  flex-wrap: wrap; }
