.webDesign {
  background: url(./images/inNewim1.jpg); }

.webDesign_descr.descr {
  margin-top: 60px;
  letter-spacing: 3px;
  color: #f84525;
  font-size: 14px; }

.title.title_white.webDesign_descr {
  margin-top: 50px;
  margin-left: 45px;
  padding-bottom: 145px; }

.abouttext {
  margin-top: 55px; }

.subtitle.par__subtitle {
  letter-spacing: -0.5px;
  padding-top: 92px; }

.descr.par__descr.design_par {
  margin-top: -32px; }

.descr.par__descr.last_par1 {
  margin-top: -3px; }

.descr.par__descr {
  margin-top: 26px;
  white-space: pre-line;
  line-height: 31px; }

.descr.par__descr:first-child {
  margin-top: 0; }

.descr.par__descr_elem.nextpar {
  margin-top: 30px; }

.descr.par__descr.last_par__descr {
  margin-top: 30px; }

.descr.par__descr.any {
  margin-top: 4px; }

.par__descr_elem.descr {
  margin-top: 13px; }

.par_images {
  display: flex;
  margin-top: 96px; }

.c_video:first-child {
  margin-left: 0px; }

.par__subtitle.subtitle.lastsubtitle {
  padding-top: 88px; }

.anyevents {
  height: 1130px;
  margin-top: 120px;
  background: url(./images/inNewim9.png); }

.title.anyevents__title {
  padding-top: 150px; }

.inNewfooter {
  margin-top: 2px; }

.webDesign > .bg .menuLogoWhite {
  margin-top: -10px; }

.controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.c_video {
  cursor: pointer;
  width: 357px;
  height: 265px;
  margin-left: 27px;
  position: relative;
  width: 358px;
  height: 267px; }

.play_pause {
  transition: 0.3;
  opacity: 1; }

.play_pause.active {
  opacity: 0; }
