@media (max-width: 320px) {
  .casestitle.title {
    font-size: 25px; }
  .container {
    width: 281px; }
  .button {
    width: 215px;
    height: 53px;
    font-size: 12px; }
  .title {
    font-size: 22px; }
  .brief__title.title {
    font-size: 25px;
    margin-top: 50px;
    line-height: 27px;
    width: 200px; }
  .Elem__title.title {
    margin-left: 0;
    font-size: 18px;
    margin-top: 33px; }
  .descr {
    font-size: 16px; }
  .brief__descr {
    font-size: 16px;
    margin-left: 0;
    width: 259px;
    line-height: 16px;
    margin-top: 16px; }
  .label2 {
    width: 132px;
    margin-left: 0;
    margin-top: 13px; }
  .inputs.secondinputs {
    display: flex;
    flex-wrap: wrap;
    width: 110%;
    margin-top: -4px; }
  .Elem__title.title.tusk {
    margin-top: -59px; }
  .tusk__textarea {
    height: 173px; }
  .typeFile {
    width: 315px; }
  .Elem__title.title.contacts {
    margin-top: -48px; }
  textarea::placeholder {
    padding-top: 12px;
    font-family: "MullerRegular";
    font-size: 16px;
    color: #b6b6b6; }
  .inputText {
    margin-top: 18px; }
  .inputTextWrapper {
    margin-top: 2px; }
  .briefButton {
    margin-left: 6%;
    width: 249px;
    height: 50px; }
  .politic.descr {
    margin-left: 0;
    font-size: 16px;
    margin-top: 14px;
    line-height: 20px; }
  .footerBrief {
    margin-top: 40px; }
  .footerBrief > .footer .content {
    padding-top: 41px; }
  .step:nth-child(even) {
    margin-left: 0; }
  .briefButton {
    margin-top: 40px; }
  .inputText::placeholder {
    padding-left: 27px;
    font-family: "MullerRegular";
    font-size: 16px;
    color: #b6b6b6; }
  .subtitle {
    font-size: 25px; }
  .inputs {
    margin-top: -2px;
    width: 106%; }
  .label.descr {
    margin-top: 13px; }
  .Elem__title.title.price {
    margin-top: 37px; }
  .main {
    height: 640px; }
  .container > .do_doElems .doElem {
    height: 100%; }
  .do_doElems {
    margin-top: 27px; }
  .main__picture {
    margin: 0 auto;
    order: 1;
    width: 228px;
    height: 226px;
    position: static; }
  .main-wrapper {
    margin-top: 24px; }
  .title.title_white.title_main {
    font-size: 30px;
    line-height: 35px; }
  .descr.descr_white.descr_main {
    margin-top: 16px;
    font-size: 16px;
    width: 273px;
    line-height: 20px; }
  .button.button_red.main_button {
    margin-top: 30px;
    width: 215px; }
  .cases {
    margin-top: 48px; }
  .header__logo {
    margin-left: 10px; }
  .imageScale {
    width: 320px;
    height: 209px; }
  .imagetext {
    margin-left: 9px;
    margin-top: 16px; }
  .casesImages {
    margin-top: 28px; }
  .casessubtitle {
    width: 225px;
    font-size: 19px; }
  .casessubdescr.descr {
    margin-top: 3px;
    padding-bottom: 14px;
    font-size: 15px; }
  .casesdescr.descr {
    margin-top: 13px; }
  .imagesContainer {
    margin-bottom: -71px; }
  .casesButtonWrapper {
    padding-bottom: 0;
    display: flex;
    margin-top: 9px; }
  .title.advtitle {
    font-size: 25px; }
  .field_descr.descr {
    line-height: 20px;
    margin-top: -3px; }
  .adv_subtitle.subtitle {
    font-size: 19px; }
  .listWrapper {
    margin-top: 70px; }
  .advwrapper {
    height: 101px; }
  .wrapperContent.last {
    margin-top: -2px; }
  .about {
    height: 560px;
    margin-top: -33px; }
  .about__title {
    font-size: 11px;
    padding-top: 50px; }
  .about__text {
    font-size: 25px;
    width: 281px;
    margin-top: 45px;
    line-height: 38px; }
  .title.do_title {
    margin-top: 78px;
    font-size: 25px; }
  .descr.do_title {
    margin-top: 11px; }
  .header {
    padding-top: 31px; }
  .advantages {
    margin-top: 47px; }
  .descr.advtitle {
    margin-top: 8px;
    line-height: 21px; }
  .menuLogoBlack {
    width: 100px; }
  .menuLogoWhite {
    width: 100px; }
  .writeMeButton {
    display: none; }
  .exit__circle {
    margin-top: -1px;
    margin-right: 12px;
    width: 29px;
    height: 29px; }
  .doButtonWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .elem_img {
    width: 78%;
    height: 196px; }
  .list {
    width: 60%;
    margin-top: 15px; }
  .elem__name {
    padding-bottom: 0;
    font-size: 18px;
    margin-top: 18px; }
  .list__name {
    font-size: 16px; }
  .button.do_button {
    margin-top: 30px;
    margin-left: 25px;
    width: 230px; }
  .doElem {
    margin-top: 39px; }
  .slick-dots {
    margin-bottom: 94px; }
  .footerSlider {
    height: 336px; }
  .groupItem {
    margin-top: -60px; }
  .groupItem.sec {
    margin-top: 18px; }
  .messageText.secondgroup {
    margin-left: 15px; }
  .positiondescr.descr {
    font-size: 10px;
    margin-top: 85px; }
  .itemMessage {
    margin-left: 5px;
    height: 126px;
    width: 238px;
    background: url(./images/cloud320left.png); }
  .itemMessage.right {
    margin-left: 111px;
    height: 135px;
    width: 238px;
    background: url(./images/cloud320right.png); }
  .descr.do_title {
    padding-bottom: 0; }
  .feedback {
    height: 493px;
    margin-top: 73px; }
  .title.feedBack_title {
    margin-left: 0px;
    font-size: 25px;
    margin-top: 125px;
    line-height: 32px;
    text-align: center;
    width: 233px;
    white-space: normal; }
  .feedback_desct.descr {
    margin-left: 0;
    margin-top: 5px; }
  .descr.newdescr {
    width: 253px;
    line-height: 18px;
    margin-top: 10px; }
  .item__logo.second_item__logo {
    margin-left: 5px;
    margin-top: 25px; }
  .item__logo {
    width: 35px;
    height: 35px;
    margin-left: 113px;
    margin-top: 18px; }
  .Message__name.title {
    font-size: 12px; }
  .Positiondescr.descr {
    font-size: 10px; }
  .positiondescr.descr.red {
    font-size: 10px; }
  .item_letter.descr {
    font-size: 12px;
    width: 216px;
    margin-top: 9px;
    line-height: 15px; }
  .messageText.secondgroup {
    margin-left: 15px;
    margin-top: 19px; }
  .itemPosition {
    margin-top: -2px; }
  .messageText {
    margin-top: 18px;
    margin-left: 23px; }
  .new {
    margin-top: 80px; }
  .title.newtitle {
    font-size: 25px;
    margin-top: 2px; }
  .button.eventbutton {
    width: 227px; }
  .event__img {
    width: 114%;
    height: 209px; }
  .events {
    margin-top: 26px; }
  .nameContainer {
    margin-top: 20px; }
  .event__name {
    padding: 4px 5px 0 5px;
    font-size: 12px; }
  .title.event__title {
    font-size: 18px;
    margin-top: 10px;
    line-height: 19px; }
  .event {
    margin-bottom: 44px; }
  .newButtonWrapper {
    margin: 0 auto;
    margin-top: -3px; }
  .mainfooter {
    margin-top: 78px; }
  .footer__logo {
    width: 98px;
    height: 22px; }
  .mainfooter > .footer .content {
    padding-top: 42px; }
  .block__text.descr {
    line-height: 22px;
    font-size: 16px;
    margin-top: 6px; }
  .secBlock {
    height: 193px; }
  .Blocks {
    margin-top: 50px; }
  .footer__comm {
    margin-top: 0px; }
  .communication.footer_communication {
    width: 29%; }
  .communication.footer_communication {
    padding-top: 8px;
    font-size: 16px; }
  .communication:last-child {
    margin-top: -5px; }
  .block__text.descr.adresss {
    margin-top: 31px; }
  .footer__adress.footer_text {
    font-size: 16px;
    margin-top: 12px; }
  .footerMenu {
    display: flex;
    flex-direction: column;
    margin-top: -11px;
    flex-wrap: wrap;
    width: 315px;
    height: 136px; }
  .footer_text {
    font-size: 16px; }
  .footer {
    height: 629px; }
  .menuli {
    font-size: 16px;
    margin-top: 18px; }
  .networks.footer_network {
    margin-top: -110px;
    margin-left: 67px; }
  .wrapperContent {
    margin-left: 0; }
  .inCase_steps {
    display: block;
    margin-top: 11px; }
  .inCase_descr.descr {
    letter-spacing: 2.5px;
    font-size: 12px;
    margin-top: -15px; }
  .casessubtitle.mainblock_casessubtitle {
    font-size: 25px; }
  .descr.mainblock_descr {
    margin-top: 11px;
    font-size: 15px; }
  .step_descr.descr {
    margin-top: 3px; }
  .inCase_mainblock {
    margin-left: 5.5%; }
  .mainBlock__img {
    width: 105.9%;
    height: 183px;
    margin-top: -67.5%; }
  .step_descr_elem.descr.step_descr {
    width: 280px;
    line-height: 27px;
    margin-top: -30px;
    white-space: normal; }
  .order1 {
    order: 1; }
  .order2 {
    order: 3; }
  .order3 {
    order: 2; }
  .order4 {
    order: 4; }
  .inCase_stepsBlock {
    padding-bottom: 20px;
    margin-top: 2px; }
  .imgweb_img {
    margin-top: 51px;
    width: 100%;
    height: 984px; }
  .imgweb {
    height: 1085px; }
  .step_anystep.step {
    margin-top: -10px; }
  .anyworks_title.title {
    font-size: 25px;
    margin-top: 51px; }
  .casesImages.anyworks_casesImages {
    margin-top: 23px; }
  .anyworksButtonWrapper {
    justify-content: center;
    align-items: center;
    margin-top: 4px; }
  .button {
    width: 228px; }
  .anyworksFooter {
    margin-top: 97px; }
  .anyworksFooter > .footer .content {
    padding-top: 43px; }
  .button.cases_button {
    margin-left: 2px;
    margin-top: 0px; }
  .slick-dots li button:before {
    width: 6px;
    height: 6px; }
  .inputorder1 {
    order: 1; }
  .inputorder2 {
    order: 3; }
  .inputorder3 {
    order: 2; }
  .inputorder4 {
    order: 4; }
  .footerBrief > .footer .networks.footer_network {
    margin-top: -109px; }
  .footerBrief > .footer .footer__comm {
    margin-top: -1px;
    margin-left: 2px; }
  .footerBrief > .footer .block__text.descr.adresss {
    margin-top: 32px;
    margin-left: 0; } }
