@media (max-width: 1360px) {
  .container {
    width: 1220px; }
  .inServ_descr.descr {
    width: 1023px; } }

@media (max-width: 960px) {
  .webDesign_descr.descr {
    margin-top: 83px;
    text-align: center; }
  .title.title_white.webDesign_descr {
    margin-top: 50px;
    margin-left: 0;
    padding-bottom: 116px;
    text-align: center; }
  .c_video {
    width: 291px;
    height: 216px; }
  .inServ_descr.descr {
    width: 857px; }
  .container {
    width: 850px; }
  .header {
    padding-top: 66px; }
  .container-menu {
    width: 800px; }
  .writeMe {
    margin-right: 33px; }
  .header__logo {
    margin-left: 31px; }
  .main {
    height: 650px; }
  .main__picture {
    left: 0;
    width: 429px;
    height: 432px;
    margin-top: 37px;
    left: 9px; }
  .text {
    margin-top: 74px; }
  .title.title_white.title_main {
    font-size: 64px; }
  .descr.descr_white.descr_main {
    margin-top: 16px;
    width: 444px; }
  .button.button_red.main_button {
    margin-top: 43px; }
  .imageScale {
    width: 464px;
    height: 274px;
    position: static; }
  .imagetext {
    position: static;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 76px;
    margin-top: 10px;
    text-align: left; }
  .casessubtitle {
    width: 203px; }
  .images {
    transition: 0.6s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 274px;
    perspective: 100px;
    width: 100%; }
  .casesImages {
    margin-top: 76px;
    flex-direction: column; }
  .imagesContainer:nth-child(even) {
    margin-left: 0px; }
  .casesButtonWrapper {
    margin-top: 27px;
    padding-bottom: 66px; }
  .listWrapper {
    margin-top: 69px; }
  .advwrapper {
    height: 260px;
    width: 50%; }
  .wrapperContent {
    width: 61%; }
  .about {
    margin-top: 44px;
    height: 653px; }
  .about__title {
    padding-top: 151px;
    margin-left: 53px; }
  .about__text {
    margin-left: 86px;
    line-height: 45px;
    width: 686px;
    font-size: 36px; }
  .title.do_title {
    margin-top: 147px;
    text-align: center; }
  .descr.do_title {
    text-align: center; }
  .do_doElems {
    justify-content: space-between;
    flex-direction: row; }
  .doElem {
    width: 389px;
    display: flex;
    flex-direction: column; }
  .doelem_wrapper {
    display: flex;
    margin-top: 96px; }
  .elem_img {
    width: 390px;
    height: 284px; }
  .doButtonWrapper {
    margin-top: 19px; }
  .elemDescr {
    margin-left: 0; }
  .newList {
    width: 100%; }
  .list {
    width: 403.3px; }
  .elem__name {
    margin-top: 48px; }
  .feedback {
    margin-top: 119px; }
  .firstBlock {
    width: 242px; }
  .Blocks {
    width: 516px; }
  .secBlock {
    width: 744px; }
  .thirdBlock {
    width: 240px; }
  .communication.footer_communication {
    width: 44%; }
  .networks.footer_network {
    margin-left: 336px;
    margin-top: 143px; }
  .title.event__title {
    font-size: 24px; }
  .event:nth-child(even) {
    margin-top: 0; }
  .newButtonWrapper {
    margin-top: 33px; }
  .event__img {
    width: 382px;
    height: 318px; }
  .mainfooter {
    margin-top: 152px; }
  .inputs {
    width: 995px; }
  .inputs.secondinputs {
    width: 85%; }
  .inputText {
    width: 415px; }
  .hr {
    width: 100%; }
  .tusk__textarea {
    width: 100%; }
  .jobs_vacancy:nth-child(even) {
    margin-left: 30px; }
  .jobs_vacancy {
    width: 410px;
    height: 280px; }
  .job_title.title {
    width: 453px;
    line-height: 66px; }
  .vacancy_wrapper {
    margin-top: 69px;
    margin-left: 51px; }
  .request__input:nth-child(even) {
    margin-left: 38px; }
  .job_request.request {
    height: 800px;
    margin-top: 133px; }
  .title.title_white.req_title {
    margin-top: 77px;
    width: 510px; }
  .descr.whitedescr.req_descr.req_descr_job {
    margin-top: 33px;
    padding-bottom: 16px; }
  .services_elems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .friends {
    margin-top: 93px;
    height: 895px; }
  .friends_title.title {
    margin-right: 52px;
    text-align: left; }
  .friend__logo {
    width: 187px;
    margin-top: 50px; }
  .friends_wrapper {
    padding-top: 81px;
    width: 950px; }
  .friends_wrapper.friend_wrapper_anymargin {
    padding-top: 120px; }
  .who_categories {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .categories_category {
    margin-left: 0px;
    width: 738px;
    height: 357px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } }

@media (max-width: 540px) {
  .footerSlider {
    margin-left: 33px;
    overflow: visible;
    width: 1920px;
    height: 718px;
    margin-top: 75px; }
  .slick-dots {
    width: 1530px;
    position: absolute;
    bottom: -25px;
    display: block;
    list-style: none; }
  .communication.footer_communication {
    width: 24%; }
  .content {
    padding-top: 104px;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column; }
  .Blocks {
    margin-top: 66px;
    display: flex;
    flex-direction: column; }
  .block__text.descr.adresss {
    margin-top: 57px; }
  .footer__adress.footer_text {
    padding-bottom: 69px; }
  .thirdBlock {
    height: 300px; }
  .footerMenu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-wrap: wrap;
    width: 530px;
    height: 190px; }
  .footer {
    height: 996px; }
  .networks.footer_network {
    margin-top: -48px;
    margin-left: 3px; }
  .container-menu.active {
    flex-direction: column; }
  .wrapper {
    align-items: flex-start;
    justify-content: flex-start; }
  .menulist {
    margin-top: -28px;
    margin-left: 16px; }
  .menulist__li {
    font-size: 60px;
    margin-top: 27px; }
  .container {
    width: 500px; }
  .inServ_descr.descr {
    width: 508px; }
  .job_title.title {
    margin-top: 75px;
    font-size: 48px;
    line-height: 57px; }
  .job_descr.descr {
    margin-top: 31px; }
  .jobs_vacancy:nth-child(even) {
    margin-left: 0; }
  .job_jobs {
    justify-content: center;
    margin-top: 15px; }
  .job_jobs:first-child {
    margin-top: 12px; }
  .jobs_vacancy {
    width: 89%;
    margin-top: 52px; }
  .title.title_white.req_title {
    font-size: 48px;
    margin-top: 156px;
    line-height: 56px; }
  .descr.whitedescr.req_descr.req_descr_job {
    margin-top: 33px;
    width: 424px;
    padding-bottom: 0px;
    line-height: 24px; }
  .button.white_button.req__button {
    margin-top: 52px; }
  .job_request.request {
    height: 1022px; }
  .request__input {
    margin-top: 25px; }
  .request__input:nth-child(even) {
    margin-left: 0; }
  .inServ_textBlock {
    margin-top: 71px; }
  .inJob_descr.descr {
    padding-bottom: 14px;
    margin-top: 47px; }
  .descr.descrbig {
    line-height: 26px; }
  .injob_request.request {
    height: 925px; }
  .header__logo {
    margin-left: 0; }
  .writeMe {
    margin-right: 0; }
  .main-wrapper {
    margin-top: 43px; }
  .main {
    height: 1048px; }
  .title.title_white.title_main {
    font-size: 55px;
    line-height: 69px; }
  .descr.descr_white.descr_main {
    margin-top: 23px; }
  .main__picture {
    margin: 0 auto;
    order: 1;
    width: 427px;
    position: static; }
  .text {
    order: 2;
    margin-top: 32px; }
  .main-wrapper {
    display: flex;
    flex-direction: column; }
  .button.button_red.main_button {
    margin-top: 48px; }
  .about {
    margin-top: 65px; }
  .about__title {
    padding-top: 100px;
    margin-left: 0px; }
  .about__text {
    margin-left: 0;
    width: 500px; }
  .cases {
    margin-top: 96px; }
  .casestitle.title {
    width: 514px; }
  .casesImages {
    margin-top: 51px; }
  .imageScale {
    width: 540px;
    height: 274px;
    margin-left: -20px; }
  .images {
    display: block;
    height: 382px; }
  .imagetext {
    margin-left: 16px;
    margin-top: 31px; }
  .casessubdescr.descr {
    padding-bottom: 12px; }
  .casesButtonWrapper {
    display: block;
    margin-top: 41px;
    padding-bottom: 17px; }
  .title.advtitle {
    font-size: 48px; }
  .descr.advtitle {
    margin-top: 10px;
    width: 344px;
    line-height: 41px; }
  .listWrapper {
    margin-top: 60px; }
  .advwrapper {
    height: 199px;
    width: 100%; }
  .doElem {
    width: 160%; }
  .do_doElems {
    flex-direction: column; }
  .elem_img {
    width: 68%;
    margin-left: -20px; }
  .back {
    display: block;
    height: 334px;
    width: 100%; }
  .wrapperContent {
    width: 100%; }
  .title.do_title {
    margin-top: 81px;
    font-size: 48px;
    text-align: left; }
  .descr.do_title {
    text-align: left; }
  .event__img {
    width: 108%;
    height: 318px;
    margin-left: -20px; }
  .doButtonWrapper {
    display: block; }
  .itemMessage {
    margin-left: 25px;
    height: 258px;
    width: 384px;
    background: url(./images/minicloudleft.png); }
  .itemMessage.right {
    margin-left: 0;
    width: 374px;
    height: 268px;
    background: url(./images/minicloudright.png); }
  .sliderWrapper {
    width: 1570px; }
  .item_letter.descr {
    width: 250px; }
  .Positiondescr.descr {
    font-size: 16px; } }

@media (max-width: 320px) {
  .container {
    width: 281px; }
  .button {
    width: 215px;
    height: 53px;
    font-size: 12px; }
  .title {
    font-size: 25px; }
  .descr {
    font-size: 16px; }
  .subtitle {
    font-size: 25px; }
  .main {
    height: 640px; }
  .main__picture {
    margin: 0 auto;
    order: 1;
    width: 228px;
    height: 226px;
    position: static; }
  .main-wrapper {
    margin-top: 24px; }
  .title.title_white.title_main {
    font-size: 30px;
    line-height: 35px; }
  .descr.descr_white.descr_main {
    margin-top: 16px;
    font-size: 16px;
    width: 273px;
    line-height: 20px; }
  .button.button_red.main_button {
    margin-top: 30px; }
  .cases {
    margin-top: 48px; }
  .imageScale {
    width: 320px;
    height: 209px; }
  .imagetext {
    margin-left: 9px;
    margin-top: 16px; }
  .casesImages {
    margin-top: 28px; }
  .casessubtitle {
    width: 225px;
    font-size: 19px; }
  .casessubdescr.descr {
    margin-top: 3px;
    padding-bottom: 14px;
    font-size: 15px; }
  .casesdescr.descr {
    margin-top: 13px; }
  .imagesContainer {
    margin-bottom: -71px; }
  .casesButtonWrapper {
    padding-bottom: 0;
    display: flex;
    margin-top: 9px; }
  .title.advtitle {
    font-size: 25px; }
  .field_descr.descr {
    line-height: 20px;
    margin-top: -3px; }
  .adv_subtitle.subtitle {
    font-size: 19px; }
  .listWrapper {
    margin-top: 86px; }
  .advwrapper {
    height: 139px; }
  .about {
    height: 560px;
    margin-top: -60px; }
  .about__title {
    font-size: 11px;
    padding-top: 50px; }
  .about__text {
    font-size: 25px;
    width: 281px;
    margin-top: 45px;
    line-height: 38px; }
  .title.do_title {
    margin-top: 78px;
    font-size: 25px; }
  .descr.do_title {
    margin-top: 11px; }
  .header {
    padding-top: 31px; }
  .advantages {
    margin-top: 47px; }
  .descr.advtitle {
    margin-top: 8px;
    line-height: 21px; }
  .menuLogoBlack {
    width: 100px; }
  .menuLogoWhite {
    width: 100px; }
  .writeMeButton {
    display: none; }
  .exit__circle {
    margin-top: -1px;
    margin-right: 12px;
    width: 29px;
    height: 29px; } }
