@media (max-width: 1360px) {
  .container {
    width: 89.7%; }
  .main {
    height: 855px; }
  .main__picture {
    margin-top: 9.6%;
    left: 0; }
  .header {
    padding-top: 65px; }
  .header__logo {
    margin-left: 34px; }
  .writeMe {
    margin-right: 39px; }
  .imageScale {
    height: 763px; }
  .slick-dots {
    margin-bottom: 118px;
    margin-left: -38px; }
  .casesImages {
    margin-top: 139px; }
  .imagesContainer {
    margin-bottom: 62px; }
  .casesButtonWrapper {
    margin-top: 21px; }
  .slick-dots li button:before {
    width: 10px;
    height: 10px;
    content: " "; }
  .advantages {
    margin-top: 93px; }
  .listWrapper {
    margin-top: 31px; }
  .advwrapper {
    height: 330px; }
  .back {
    align-items: flex-start; }
  .wrapperContent {
    margin-left: 67px; }
  .about {
    height: 650px;
    margin-top: 49px; }
  .title.do_title {
    margin-top: 146px; }
  .about__title {
    padding-top: 148px; }
  .event {
    margin-bottom: 77px; }
  .newButtonWrapper {
    margin-top: 45px; }
  .mainfooter {
    margin-top: 156px; }
  .Blocks {
    width: 695px;
    display: flex; }
  .secBlock {
    width: 448px; }
  .inputs.secondinputs {
    margin-left: -23px;
    margin-top: 18px;
    width: 100%; }
  .Elem__title.title {
    margin-left: 0; }
  .hr {
    width: 100%; }
  .footerBrief {
    margin-top: 145px; }
  .politic.descr {
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px; }
  .footerBrief > .footer .block__text.descr {
    margin-left: 0; }
  .footerBrief > .footer .networks.footer_network {
    margin-top: 140px; }
  .mainBlock__img {
    margin-left: 16px;
    width: 930px;
    height: 638px; }
  .inCase_mainblock {
    margin-top: 55px;
    margin-left: 5.1%;
    display: flex; }
  .step_descr.descr.step_descr_elem {
    white-space: pre-line;
    line-height: 36px;
    margin-top: 12px; }
  .step_anystep.step {
    margin-top: 18px; }
  .inCase_stepsBlock {
    padding-bottom: 135px; }
  .imgweb_img {
    margin-top: -27px;
    width: 1219px;
    height: 4300px; }
  .imgweb {
    height: 4566px; }
  .step:nth-child(even) {
    margin-left: 105px; }
  .step.step_sec {
    margin-left: 0; }
  .button.cases_button {
    margin-left: -249px;
    margin-top: 88px; }
  .casefooter {
    margin-top: 99px; }
  .anyworksFooter > .footer .secBlock {
    width: 477px; }
  .services__title.title {
    margin-top: 10.4%; }
  .descr.descr__title.inserv_descr {
    margin-top: 2.2%; }
  .doElem {
    margin-top: 48px; }
  .friends_wrapper {
    padding-top: 52px;
    width: 100%; }
  .friend__logo {
    margin-right: 2%;
    margin-top: 105px; }
  .servicesfooter {
    margin-top: -10px; }
  .friends {
    margin-top: 148px; }
  .case__title.title {
    margin-top: 129px; }
  .list__item.case_list__item {
    padding: 17px 20.1px; }
  .inServ_subtitle.subtitle {
    padding-bottom: 5.5%; }
  .inServ_descr.descr {
    white-space: pre-line;
    font-size: 15.5px;
    margin-top: -59px;
    line-height: 36px; }
  .descr.inServ_descr.second {
    margin-top: -6%; }
  .casesButtonWrapper {
    margin-top: -4%;
    margin-left: 20%; }
  .inServ_descr.descr.row:first-child {
    font-size: 15.5px;
    margin-top: -0.1%;
    line-height: 39px; }
  .descr.inServ_descr.second {
    margin-top: -69px; }
  .inServ_textBlock {
    margin-top: 7.8%; }
  .ul_block {
    margin-top: -1.8%; }
  .title.services__title.anyServ_sectitle {
    margin-top: 7.6%; }
  .doelem_wrapper {
    margin-top: 3.7%; }
  .inservfooter {
    margin-top: -1.5%; }
  .inservfooter > .footer .content {
    padding-top: 146px; }
  .job_title.title {
    margin-top: 10.3%; }
  .title.title_white.req_title {
    margin-top: 11%; }
  .jobfooter > .footer .content {
    padding-top: 168px; }
  .job_descr.descr {
    margin-top: 25px;
    font-size: 15.5px; }
  .communication_inline {
    font-size: 15.8px; }
  .descr.location {
    margin-top: 4%;
    white-space: pre-line;
    font-size: 22.9px;
    line-height: 163%; }
  .injob_request.request {
    margin-top: 10.2%;
    height: 809px; }
  .descr.descrbig {
    margin-top: 16px;
    font-size: 22.9px; }
  .injobfooter {
    margin-top: -0.6%; }
  .new__title {
    margin-top: -24px; }
  .webDesign_descr.descr {
    margin-top: 84px; }
  .title.title_white.webDesign_descr {
    padding-bottom: 114px; }
  .descr.par__descr {
    font-size: 15.5px; }
  .descr.par__descr.design_par {
    margin-top: -26px; }
  .descr.par__descr.any {
    margin-top: 2px; }
  .upYourSkill_titleblock {
    width: 41%; }
  .upYourSkill_countblock {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -84px; }
  .text {
    margin-top: 21%; }
  .main__picture.school {
    position: relative;
    margin-top: 12px;
    left: 5px; }
  .targets_target {
    margin-left: 6.6%;
    width: 35.6%; }
  .targets {
    display: flex;
    margin-top: 144px; }
  .button.button_red.target_button {
    width: 292px;
    margin-left: -9%; }
  .countblock_elem {
    margin-left: 152px;
    margin-top: 80px; }
  .who_categories {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 91px;
    display: flex; }
  .categories_category.nonmargin {
    margin-left: 0; }
  .categories_category:last-child {
    margin-top: 94px; }
  .subtitle.category_subtitle {
    line-height: 35.4px;
    padding-bottom: 19px;
    margin-top: 45px;
    margin-left: 35px;
    width: 72%; }
  .categories_category {
    margin-left: 116px;
    width: 35.4%; }
  .suggestsBlock_suggest {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 77px; }
  .suggest {
    display: flex;
    margin-left: 0;
    flex-direction: column;
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: auto;
    margin-top: 83px;
    border-radius: 10px;
    background: white; }
  .wrepper_height {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto; }
  .forpadding {
    padding-bottom: 6%; }
  .suggest_subtitle.subtitle {
    white-space: pre-line;
    margin-top: 1%;
    width: 41%;
    margin-left: 8%; }
  .suggestsBlock {
    height: 1572px; }
  .suggest__price.subtitle.anyone1 {
    margin-top: -10.7%; }
  .suggest__price.subtitle.anyone2 {
    margin-top: -10.8%; }
  .suggest__price {
    margin-top: -15.6%;
    margin-left: 8%;
    padding-bottom: 3.8%; }
  .button.button_onhover {
    margin-left: 8%;
    width: 36%; }
  .suggest:first-child {
    margin-top: 0; }
  .suggest_menu {
    margin-left: 5.9%;
    margin-top: 5%; }
  .title.program_title {
    margin-left: 6.7%; }
  .program_descr.descr {
    margin-top: 0.9%;
    margin-left: 7%;
    padding-bottom: 5.2%; }
  .day {
    width: 69.1%;
    margin-left: 15.4%; }
  .descr.day__number {
    margin-top: 3.4%;
    margin-bottom: 2%;
    font-size: 16px;
    color: #e25a00; }
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .dz_descr.descr {
    margin-bottom: 32px;
    margin-top: 12px; }
  .request {
    height: 800px;
    margin-top: 9%; }
  .container-menu.active {
    display: flex;
    height: 600px;
    z-index: 10000;
    width: 68%;
    justify-content: flex-start; }
  .wrapper {
    width: 64%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
  .menulist {
    margin-top: -3%; }
  .social {
    margin-left: 55%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column; } }
