.title.title_white.title_main.school {
  margin-top: 35px;
  margin-left: -5px; }

.descr.descr_white.descr_main.school {
  line-height: 35px;
  margin-top: 28px; }

.button.button_red.main_button.school {
  margin-top: 56px; }

.main__picture.school {
  position: relative;
  margin-top: 39px;
  left: 159px; }

.targets {
  display: flex;
  margin-top: 150px; }

.targets_column {
  display: flex;
  flex-direction: column; }

.column__img {
  margin-top: 85px;
  margin-left: 35px;
  width: 267px;
  height: 260px; }

.column_target {
  display: flex;
  margin-left: 5px;
  flex-direction: column; }

.targets_target {
  width: 430px; }

.descr.target_descr {
  padding: 6px 0 65px 0; }

.target_descr.descr.target_descr_elem {
  margin-top: 10px;
  padding: 0; }

.target_sub.subtitle {
  line-height: 35px; }

.button.button_red.target_button {
  width: 292px;
  margin-left: -3px; }

.upYourSkillWrapper {
  display: flex; }

.upYourSkill_titleblock {
  margin-top: 150px;
  height: 453px;
  display: flex;
  flex-direction: column; }

.title.title_white {
  line-height: 65px; }

.upYourSkill {
  width: 100%;
  margin-top: 150px;
  background: url("./images/skillup.png") no-repeat center top/cover; }

.button.upYourSkill_button {
  margin-top: 40px;
  width: 390px;
  background: none;
  color: #ffffff;
  border: 1px solid #565656; }

.upYourSkill_countblock {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px; }

.countblock_elem {
  margin-left: 141px;
  margin-top: 80px; }

.elem__number {
  font-family: "MullerExtraBold";
  font-size: 80px;
  color: white; }

.elem_name2.descr {
  margin-top: 10px; }

.title.who_title {
  margin-top: 150px;
  margin-right: 15px; }

.who {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.descr.who_descr {
  margin-top: 26px;
  margin-left: 22px; }

.who_categories {
  margin-top: 96px;
  display: flex; }

.categories_category {
  margin-left: 26px;
  width: 450px;
  height: 357px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.categories_category:first-child {
  margin-left: 0; }

.subtitle.category_subtitle {
  padding-bottom: 19px;
  margin-top: 50px;
  margin-left: 35px; }

.descr.category_descr {
  margin-left: 40px; }

.category_end {
  margin-top: 60px;
  display: flex;
  justify-content: space-between; }

.end__more {
  cursor: pointer;
  height: 15px;
  text-decoration: none;
  font-family: "Muller";
  font-size: 15.34px;
  color: #6e6c6c;
  margin-left: 40px;
  border-bottom: 1px solid #6e6c6c; }

.end__img {
  margin-right: 30px;
  margin-top: -65px; }

.category_heigth {
  height: 160px; }

.suggestsBlock {
  background: url("./images/bgweare.png");
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1173px;
  align-items: center; }

.suggest {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 451px;
  height: 641px;
  margin-left: 27px;
  border-radius: 10px;
  background: white; }

.suggest:first-child {
  margin-left: 0; }

.suggest_title.title {
  margin-top: 145px; }

.suggest_subtitle.subtitle {
  margin-top: 47px;
  font-size: 30px;
  line-height: 37px; }

.suggestsBlock_suggest {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 108px; }

.suggest_wrapper {
  display: flex;
  flex-direction: column;
  line-height: 36px; }

.suggest_menu__item.descr {
  list-style-image: url(./images/circle.png); }

.suggest_menu__item::marker {
  width: 300px;
  height: 300px; }

.wrepper_height {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 330px;
  height: 350px; }

.suggest_menu {
  margin-left: 15px;
  margin-top: 25px; }

.suggest__price {
  margin-top: 88px;
  margin-left: 60px;
  padding-bottom: 43px; }

.suggest_menu__item.descr {
  margin-top: 7px;
  padding-left: 10px;
  line-height: 35px; }

.suggest:hover {
  transform: scale(1.1); }

.button.button_onhover {
  margin: 0 auto;
  width: 297px; }

.suggest:hover .button_onhover {
  background: #f84525;
  border: 0;
  color: white; }

.program {
  margin-top: 150px; }

.day {
  width: 846px;
  margin-left: 100px; }

.day__hr:first-child {
  margin-top: 0; }

.descr.day__number {
  margin-top: 34px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #e25a00; }

.program_descr.descr {
  padding-bottom: 66px; }

.day_wrapper {
  display: flex;
  justify-content: space-between; }

.day_crest {
  transform: perspective(100px);
  transition: 0.5s;
  margin-top: -20px;
  width: 23px;
  height: 23px; }

.day_crest.active {
  transform: rotateZ(45deg); }

.subtitle.day_subtitle {
  padding-bottom: 21px; }

.day_description.active {
  display: block; }

.day_description {
  display: none; }

.descr.descrtitle {
  padding-bottom: 10px;
  color: #252525;
  margin-top: 8px; }

.description_menu_item.descr {
  margin-top: 8px;
  margin-left: 3px;
  color: #6e6c6c; }

.dz_descr.descr {
  margin-bottom: 32px;
  margin-top: 5px; }

.day__hr {
  width: 102%; }

.descr.descrtitle.dztitle {
  margin-top: 21px; }

.request {
  margin-top: 102px;
  height: 773px;
  padding-top: 10px;
  background: url(./images/zaiavka.png); }

.whitedescr.descr {
  color: white; }

.request__input {
  font-size: 25px;
  color: white;
  outline: none;
  margin-top: 42px;
  height: 60px;
  width: 400px;
  background: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white; }

.request__input::placeholder {
  color: white;
  font-family: "Mullerregular";
  font-size: 20px; }

.descr.whitedescr.small {
  font-size: 16px;
  margin-top: 30px;
  line-height: 20px; }

.button.white_button {
  background: white;
  border: none;
  color: black; }

.title.title_white.req_title {
  margin-top: 130px; }

.descr.whitedescr.req_descr {
  margin-top: 23px;
  padding-bottom: 2px; }

.request__input:nth-child(even) {
  margin-left: 70px; }

.anyinput.request__input {
  height: 55px;
  margin-top: 29px; }

.button.white_button.req__button {
  width: 325px;
  margin-top: 60px; }

.schoolfooter > .footer .content {
  padding-top: 166px; }
