.services__title.title {
  margin-top: 140px; }

.descr.descr__title {
  margin-top: 25px; }

.services_elems {
  padding-top: 49px; }

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  display: flex;
  height: 870px;
  background: url(./images/servicesbg.png); }

.friends_title.title {
  margin-top: 90px;
  line-height: 65px;
  text-align: center; }

.friends_wrapper {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding-top: 60px;
  margin: 0 auto;
  width: 1397px; }

.friend__logo {
  margin-top: 50px;
  margin-left: 210px; }

.servicesfooter {
  margin-top: -17px; }

.friend__logo.first {
  margin-left: 0; }

.list__name_withlineh.list__name {
  line-height: 34px; }
