<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>

</head>

<body>
    <div class="container">
        <div class="container-header">
            <div class="header__logo">
                <img src="/public/css/images/logo.png" alt="logo">
            </div>
            <div class="header-writeMe">
                <div class="writeMe-button">
                    <a class="button__href"> напиши нам </a>
                    <hr class="button__hr">
                </div>
                <div class="writeMe-exit">
                    <div class="exit__circle">
                        <img class="exit__line" src="/public/css/images/line1.png" alt="">
                        <img class="exit__line" src="/public/css/images/line2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-menu">
            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list__li">
                        Кейсы
                    </li>
                    <li class="menu-list__li">
                        О нас
                    </li>
                    <li class="menu-list__li">
                        Услуги
                    </li>
                    <li class="menu-list__li">
                        Отзывы
                    </li>
                    <li class="menu-list__li">
                        События
                    </li>
                </ul>
            </div>
            <div class="social-wrapper">
                <div class="container-social">
                    <div class="social-mail">
                        <a href="#" class="mail__type">client@q-digital.ru</a>
                        <a href="#" class="mail__type">7 (912) 768-9454</a>
                    </div>
                    <div class="social-adress">
                        <p class="adress__text">
                            Ул. Кирова 112
                        </p>
                        <p class="adress__text">
                            Ижевск, Россия
                        </p>

                    </div>
                    <div class="social-networks">
                        <img src="/public/css/images/facebook.png" alt="facebook">
                        <img src="/public/css/images/vk.png" alt="vk">
                        <img src="/public/css/images/twitter.png" alt="twitter">
                        <img src="/public/css/images/instagram.png" alt="instagram">
                    </div>

                </div>
            </div>

        </div>

</body>

</html>