@font-face {
  font-family: "Muller";
  /* Имя шрифта */
  src: url(../fonts/ofont.ru_Muller.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "MullerRegular";
  /* Имя шрифта */
  src: url(../fonts/MullerRegular.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerLight";
  /* Имя шрифта */
  src: url(../fonts/MullerLight.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerMedium";
  /* Имя шрифта */
  src: url(../fonts/MullerMedium.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerExtraBold";
  /* Имя шрифта */
  src: url(../fonts/MullerExtraBold.ttf);
  /* Путь к файлу со шрифтом */
}

.menu {
  width: 100%;
  height: 85px;
  background-color: red;
}
.container {
  margin-left:350px;
  width: 1215px;
  /* margin: 0 auto; */
}
.new__title {
  margin-top: 143px;
  font-family: "Muller";
  font-size: 55px;
  color: #040404;
}
.new__descr {
  font-family: "MullerRegular";
  font-size: 20px;
  color: #6e6c6c;
  margin-top: 28px;
}
.newList {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  margin-top: 26px;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  background-color: #f0f0f0;
  font-family: "MullerMedium";
  font-size: 14px;
  color: #555555;
  margin-left: 24px;
  border-radius: 5px;
}
.list__item.newrow{
  margin-left: 0;
}
.list__item:first-child {
  margin-left: 3px;
}
.events {
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}
.event.next{
  margin-top: 45px;
}
.event {
  margin-bottom: 60px;
  cursor: pointer;
  perspective: 100px;
  display: flex;
  flex-direction: column;
}
.event.enysecondevent{
  margin-top: 86px;
}
.event.secondevent{
  margin-top:100px;
}
.event__img {
  width: 570px;
  height: 423px;
  transition: 0.6s;
}

.event:hover .event__img {
  transform: rotate3d(0, 1, 0, -1deg);

}

.nameContainer {
  margin-top: 52px;
}
.event__name {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: "MullerMedium";
  color: white;
  font-size: 14px;
  background: #ee4307;
}

.event__title {
  font-family: "Muller";
  color: #252525;
  font-size: 30px;
  margin-top: 32px;
}

.news__button {
  margin: 0 auto;
  margin-top:39px ;
  width: 304px;
  box-sizing: border-box;
  padding-top: 27px;
  text-align: center;
  display: block;
  height: 70px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Muller";
  text-decoration: none;
  border:2px solid #d0d0d0;
  color:#222222;
}
/* footer */
.footer {
  margin-top: 146px;
  height: 655px;
  background: url("../images/footerbg.png");
}

.content {
  height: 178px;
  display: flex;
  justify-content: space-between;
  padding-top: 167px;
}

.Blocks {
  width: 690px;
  display: flex;
}
.block__text{
  font-family: "MullerRegular";
  font-size: 20px;
  color:#fdfdfd;
}
.block__text.descr.sec {
  margin-top: 0;
  margin-left: 2px;
}

.block__text.descr {
  line-height: 30px;
  font-size: 20px;
  color: #fdfdfd;
  margin-top: 40px;
}


.footer__logo {
  margin-left: 5px;
  width: 135px;
  height: 33px;
}

.secBlock {
  width: 432px;
}

.thirdBlock {
  width: 255px;
}

.communication.footer_communication {
  margin-left: 5px;
  width: 40%;
  cursor: pointer;
  padding-top: 12px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  display: flex;
  flex-direction: column;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight";
  font-weight: 400;
}

.footer__comm {
  margin-top: 16px;
}

.footer_text {
  font-family: "MullerLight";
  font-size: 20px;
  color: #a3a2a2;
}

.block__text.descr.adresss {
  margin-left: 7px;
  margin-top: 60px;
}

.footer__adress.footer_text {
  margin-left: 8px;
  margin-top: 20px;
}

.footerMenu {
  margin-top: 30px;
}

.menuli {
  margin-top: 20px;
}

.menu__item.footer_text {
  cursor: pointer;
  text-decoration: none;
}

.networks.footer_network {
  margin-left: 3px;
  margin-top: 124px;
}
.networks__name {
  cursor: pointer;
  margin-left: 26px;
}
.networks__name:first-child {
  margin-left: 0;
}
