@font-face {
  font-family: "Muller";
  /* Имя шрифта */
  src: url(../fonts/ofont.ru_Muller.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerRegular";
  /* Имя шрифта */
  src: url(../fonts/MullerRegular.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerLight";
  /* Имя шрифта */
  src: url(../fonts/MullerLight.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerMedium";
  /* Имя шрифта */
  src: url(../fonts/MullerMedium.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerExtraBold";
  /* Имя шрифта */
  src: url(../fonts/MullerExtraBold.ttf);
  /* Путь к файлу со шрифтом */
}

.bg {
  width: 1920px;
  height: 970px;
  background: url("../images/bg.png");
}

.header {
  margin: 0 auto;
  display: flex;
  width: 94.8%;
  justify-content: space-between;
  padding-top: 56px;
}

.header__logo {
  margin-left: 15px;
}

.writeMe {
  display: flex;
}

.writeMeButton {
  margin-top: 10px;
  margin-right: 27px;
}

.writeMeButton__href {
  font-family: "Muller";
  font-weight: bolder;
  color: #fdfdfd;
  font-size: 19.14px;
  cursor: pointer;
}

.exit__circle {
  cursor: pointer;
  position: relative;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.exit__line.active {
  width: 17px;
  height: 17px;
  background: url("../images/2line.png");
}

.exit__line {
  background: url("../images/burger.png");
  width: 17px;
  height: 17px;
  left: 30%;
  top: 30%;
  position: absolute;
}

.container-menu.active {
  display: flex;
}

.container-menu {
  display: none;
  margin: 0 auto;
  margin-top: 86px;
  width: 1059px;
  height: 595px;
  justify-content: space-between;
}

.menulist {
  text-decoration: none;
  list-style-type: none;
  margin-top: 52px;
}

.menulist__li {
  font-family: "Muller";
  font-weight: bold;
  color: #363537;
  font-size: 75px;
  cursor: pointer;
  margin-top: 32px;
}

.menulist__li:hover {
  color: #fdfdfd;
}

.social {
  margin-right: 5px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.communication {
  padding-top: 8px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  display: flex;
  flex-direction: column;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight";
  font-weight: 400;
}

.communication:last-child {
  margin-top: 21px;
  margin-bottom: 0;
  padding-top: 0;
}

.adress {
  margin-top: 40px;
}

.adress__text {
  line-height: 27px;
  display: block;
  font-family: "MullerLight";
  font-size: 20px;
  color: #fdfdfd;
  font-weight: 400;
}

.networks {
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.networks__name {
  cursor: pointer;
  margin-left: 27px;
}

.networks__name:first-child {
  margin-left: 0;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/* main screen */

.main {
  width: 1920px;
  height: 813px;
  background: url("../images/mainbg.png") no-repeat center top/cover;
}

.container {
  margin: 0 auto;
  width: 1216px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.text {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Muller";
  font-weight: bolder;
}

.title.maintitle {
  color: white;
  line-height: 80px;
  font-size: 65px;
}

.title.dotitle {
  margin-top: 150px;
  color: #252525;
  font-size: 55px;
}

.title.newtitle {
  margin-top: 148px;
  color: #252525;
  font-size: 55px;
}

.descr {
  font-family: "MullerRegular";
  font-size: 20px;
}

.descr.dodescr {
  margin-top: 27px;
  color: #6c6c6c;
  padding-bottom: 27px;
}

.descr.maindescr {
  line-height: 30px;
  color: #fdfcfc;
  margin-top: 33px;
  width: 550px;
}

.descr.newdescr {
  margin-left: 5px;
  margin-top: 17px;
  color: #6c6c6c;
  padding-bottom: 27px;
}

.button {
  width: 304px;
  box-sizing: border-box;
  padding-top: 27px;
  text-align: center;
  display: block;
  height: 70px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Muller";
  text-decoration: none;
}

.button.listbutton {
  color: #262626;
  text-transform: uppercase;
  margin-top: 43px;
  border: 2px solid #d0d0d0;
}

.button.mainbutton {
  background: #f84525;
  margin-top: 68px;
  color: #fdfcfc;
  text-transform: uppercase;
}

.button.dobutton {
  margin: 0 auto;
  margin-top: 101px;
  color: #262626;
  text-transform: uppercase;
  border: 2px solid #d0d0d0;
}

.main__picture {
  position: relative;
  margin-top: 55.22px;
  left: 130px;
}
/* cases screen */

.imagesContainer {
  display: flex;
}
.casesImages {
  margin-top: 165px;
  display: flex;
  flex-wrap: wrap;
}
.cases__img {
  transition: all 0.6s ease-out;
  width: 578px;
  height: 780px;
  position: absolute;
  z-index: 0;
}
.images {
  width: 578px;
}
.button.cases_button {
  margin: 0 auto;
  margin-top: 176px;
  text-transform: uppercase;
  border: 2px solid #6c6c6c;
}
.imagesContainer.bottom {
  margin-top: 145px;
}

/* .images {
    position: relative;
} */

.casestitle.title {
  margin-left: 5px;
  margin-top: 148px;
  color: #252525;
  font-size: 55px;
}
.casesdescr.descr {
  margin-right:-30px;
  margin-left: 6px;
  margin-top: 17px;
  color: #6c6c6c;
}
.imagesContainer.sec {
  margin-left: 60px;
}

.imagetext {
  position: relative;
  z-index: 2;
  margin-top: 650px;
  text-align: end;
}
.images:hover .cases__img {
  transform: perspective(10000px) rotate3d(0, 1, 0, -30deg);
}

.casessubtitle {
  margin-right:-30px;
  font-family: "MullerExtraBold";
  font-size: 40px;
}

.advantages {
  height: 1570px;
}

.title.advtitle {
  margin-top: 132px;
  font-size: 55px;
  color: #252525;
}

.advdescr.descr {
  color: #6c6c6c;
  margin-top: 18px;
}

.listWrapper {
  margin-top: 140px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.advwrapper {
  transition: all 0.6s ease-out;
  width: 490px;
  height: 331px;
}

.field.field_title.title {
  margin-top: 12px;
  padding-bottom: 17px;
  font-size: 30px;
}

.field.field_descr.descr {
  margin-top: 18px;
  color: #6c6c6c;
}

.field.field_a.writeMeButton__href {
  display: none;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.advwrapper:hover {
  background-color: #f84525;
  border-radius: 50px 50px 0 50px;
  transform: scale(1.05);
}

.advwrapper:hover .wrapperContent {
  margin-left: 40px;
  margin-top: 30px;
}

.advwrapper:hover .field.field_title.title {
  color: white;
}

.advwrapper:hover .field.field_descr.descr {
  color: white;
}

.advwrapper:hover .field_a {
  display: inline-block;
  margin-top: 30px;
}

.wrapperContent.right {
  margin-left: 112px;
}
/* about screen */

.about {
  height: 875px;
  background: url("../images/aboutbg.png");
}

.about__title {
  margin-left: 6px;
  font-size: 14px;
  letter-spacing: 4.3px;
  font-family: "MullerMedium";
  color: #fbfefe;
  padding-top: 236px;
}

.about__text {
  margin-left: 73px;
  line-height: 58px;
  margin-top: 72px;
  font-family: "Muller";
  color: #fffdfd;
  font-size: 44px;
}
/* do screen */

.do {
  width: 100%;
  height: 1390px;
}

.doElem {
  margin-top: 53px;
  display: flex;
}

.elemDescr {
  margin-top: 40px;
  margin-left: 125px;
  display: flex;
  flex-direction: column;
}

.elem__name {
  padding-bottom: 20px;
  font-family: "Muller";
  font-size: 30px;
  color: #252525;
}

.list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.list__name {
  color: #6c6c6c;
  text-decoration: none;
  font-family: "MullerRegular";
  font-size: 20px;
}

.list__arrow {
  background: url("../images/arrow.png");
  margin-top: 6px;
  width: 7px;
  height: 11px;
  margin-left: 70px;
}

.list:hover .list__name {
  color: #f84525;
}

.list:hover .list__arrow {
  background: url("../images/redArrow.png");
}

.title.dotitle {
  color: black;
}
/* feedback */
.slick-dots{
  margin-bottom: 130px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #f84525;
}
.slick-slide {
  outline: none;
}

.container.center {
  padding-top: 147px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 907px;
  background: url("../images/footer.png");
}

.feedbacktitle.title {
  margin-top: 41px;
  font-size: 55px;
  color: #252525;
  text-align: center;
}

.feedbackdescr.descr {
  margin-top: 20px;
  color: #6c6c6c;
  text-align: center;
}

.sliderWrapper {
  width: 1920px;
}

.footerSlider {
  overflow: hidden;
  height: 600px;
  width: 100%;
  margin-top: 80px;
}
.group.slick-slide {
  opacity: 0.5;
}
.group.slick-slide.slick-current.slick-center {
  opacity: 1;
}
.groupItem {
  display: flex;
}

.groupItem.sec {
  margin-top: 40px;
}
.group {
  min-width: 900px;
}
.item__logo {
  width: 100px;
  height: 100px;
}
.item__logo.second_item__logo{
  margin-left: 30px;
}
.itemMessage {
  margin-left: 25px;
  height: 196px;
  width: 714px;
  background: url("../images/letterCloudLeft.png");
}

.itemMessage.right {
  margin-left: 0;
  background: url("../images/letterCloudRight.png");
}

.messageText {
  margin-left: 62px;
  margin-top: 43px;
}

.Message__name.title {
  font-size: 20px;
  color: #262626;
}

.itemPosition {
  margin-top: 12px;
}

.Positiondescr.descr {
  font-size: 16px;
  color: #a2a2a2;
}

.Positiondescr.descr.red {
  color: #f84525;
  margin-top: 10px;
}

.item_letter.descr {
  color: #494949;
  margin-top: 14px;
}
/* new */

.new {
}
.bottomevent {
  margin-top: 60px;
}
.events {
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.event {
  display: flex;
  flex-direction: column;
}

.event__img {
  transition: all 0.6s ease;
}

.event:hover .event__img {
  transform: perspective(10000px) rotate3d(0, 1, 0, -30deg);
}

.nameContainer {
  margin-top: 52px;
}

.event__name {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: "MullerMedium";
  color: white;
  font-size: 14px;
  background: #ee4307;
}

.title.event__title {
  color: #252525;
  font-size: 30px;
  margin-top: 32px;
}

.event.secondevent {
  padding-top: 100px;
}
/* footer screen */

.footer {
  height: 645px;
  background: url("../images/footerbg.png");
}

.content {
  height: 178px;
  display: flex;
  justify-content: space-between;
  padding-top: 167px;
}

.Blocks {
  display: flex;
}

.block__text.descr.sec {
  margin-top: 0;
  margin-left: 2px;
}

.block__text.descr {
  line-height: 30px;
  margin-left: 10px;
  font-size: 20px;
  color: #fdfdfd;
  margin-top: 40px;
}

.networks.footer_network {
  margin-top: 0;
  margin-top: 124px;
  margin-left: 10px;
}

.footer__logo {
  margin-left: 10px;
  width: 135px;
  height: 33px;
}

.secBlock {
  width: 432px;
}

.thirdBlock {
  width: 255px;
}

.communication.footer_communication {
  width: 40%;
}

.footer__comm {
  margin-top: 16px;
  margin-left: 3px;
}

.footer {
  margin-top: 200px;
}

.footer_text {
  font-family: "MullerLight";
  font-size: 20px;
  color: #a3a2a2;
}

.block__text.descr.adresss {
  margin-top: 55px;
  margin-left: 3px;
}

.footer__adress.footer_text {
  margin-top: 23px;
  margin-left: 5px;
}

.footerMenu {
  margin-top: 30px;
}
.menuli {
  margin-top: 20px;
}
.menu__item.footer_text {
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1920px) {
  .main {
    margin: 0 auto;
  }
}
