@font-face {
  font-family: "Muller";
  /* Имя шрифта */
  src: url(../fonts/ofont.ru_Muller.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "MullerRegular";
  /* Имя шрифта */
  src: url(../fonts/Fontfabric\-\MullerRegular.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "MullerLight";
  /* Имя шрифта */
  src: url(../fonts/MullerLight.otf);
  /* Путь к файлу со шрифтом */
}

.bg {
  width: 1920px;
  height: 970px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  margin: 0 auto;
  display: flex;
  width: 94.8%;
  justify-content: space-between;
  padding-top: 56px;
}
.header__logo {
  margin-left: 15px;
}

.writeMe {
  display: flex;
}
.writeMeButton {
  margin-top: 10px;
  margin-right: 27px;
}
.writeMeButton__href {
  font-family: "Muller";
  font-weight: bolder;
  color: #fdfdfd;
  font-size: 19.14px;
  cursor: pointer;
}

.exit__circle {
  cursor: pointer;
  position: relative;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.exit__line.active {
  width: 17px;
  height: 17px;
  background: url("../images/2line.png");
}
.exit__line {
  background: url("../images/burger.png");
  width: 17px;
  height: 17px;
  left: 30%;
  top: 30%;
  position: absolute;
}
.container-menu.active {
  display: flex;
}
.container-menu {
  display: none;
  margin: 0 auto;
  margin-top: 86px;
  width: 1059px;
  height: 595px;
  justify-content: space-between;
}

.menulist {
  text-decoration: none;
  list-style-type: none;
  margin-top: 52px;
}

.menulist__li {
  font-family: "Muller";
  font-weight: bold;
  color: #363537;
  font-size: 75px;
  cursor: pointer;
  margin-top: 32px;
}

.menulist__li:hover {
  color: #fdfdfd;
}

.social {
  margin-right: 5px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.communication {
  padding-top: 8px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  display: flex;
  flex-direction: column;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight";
  font-weight: 400;
}

.communication:last-child {
  margin-top: 21px;
  margin-bottom: 0;
  padding-top: 0;
}

.adress {
  margin-top: 40px;
}

.adress__text {
  line-height: 27px;
  display: block;
  font-family: "MullerLight";
  font-size: 20px;
  color: #fdfdfd;
  font-weight: 400;
}

.networks {
  align-items: center;
  margin-top: 40px;
  display: flex;
}
.networks__name {
  cursor: pointer;
  margin-left: 27px;
}
.networks__name:first-child {
  margin-left: 0;
}
.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* main screen */
.main {
  width: 1920px;
  height: 813px;
  background: url("../images/mainbg.png") no-repeat center top/cover;
}

.container {
  margin: 0 auto;
  width: 1218px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.text {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
}
.title {
  line-height: 80px;
  font-family: "Muller";
  font-weight: bolder;
  font-size: 65px;
  color: white;
}
.descr {
  line-height: 30px;
  width: 550px;
  margin-top: 33px;
  font-family: "MullerRegular";
  font-size: 20px;
  color: #fdfcfc;
}
.button {
  box-sizing: border-box;
  padding-top: 27px;
  margin-top: 68px;
  text-align: center;
  display: block;
  width: 304px;
  height: 70px;
  background: #f84525;
  border-radius:50px ;
  font-size: 16px;
  font-family: 'Muller';
  color: #fdfcfc;
  text-decoration: none;
  text-transform: uppercase;
}

 
.main__picture{
  position: relative;
  margin-top: 55.22px;
  left:130px;
}
