.case__title.title{
margin-top: 139px;
}
.case__descr{
    margin-top: 20px;
    line-height: 30px;
    font-family: "MullerMedium";
    font-size: 20px;
    color:#858484;
    
}
.list__item.case_list__item{
    margin-top: 28px;
    padding: 15px 23px;
    margin-left: 20px;
}
.list__item.case_list__item:first-child{
    margin-left: -6px;
}
.list__item.case_list__item.newrow{
    margin-left: -5px;
}
// .imagesContainer.nullcont{
//     padding-bottom:20px;
// }
// .imagesContainer.firsctcont{
//     padding-bottom: 40px;
// }
// .imagesContainer.secondcont{
// padding-bottom: 20px;
// }
// .imagesContainer.thirdcont{
//     padding-bottom:20px;
// }
// .imagesContainer.contfor{
//     padding-bottom:17px;
// }
// .imagesContainer.contfive{
//     padding-bottom:27px;
// }
// .imagesContainer.contsix{
//     padding-bottom:2px;
// }
// .imagetext.notion{
//     margin-right: -17px;
// }
// .imagetext.floorwise{
//     margin-right: -7px;
// }
// .imagetext.allbest{
//     margin-right: 4px;
// }
// .imagetext.angular{
//     margin-right: 9px;
// }
// .casessubdescr.descr.strange{
//     margin-right: -14px;
// }
 .casefooter{
     margin-top: 50px;
 }
// .casefooter>.footer .content{
//     padding-top: 166px;
// }