@font-face {
    font-family: "Muller";
    /* Имя шрифта */
    src: url(./fonts/ofont.ru_Muller.ttf);
    /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: "MullerRegular";
    /* Имя шрифта */
    src: url(./fonts/MullerLight.ttf);
    /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: "MullerLight";
    /* Имя шрифта */
    src: url(./fonts/MullerLight.ttf);
    /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: "MullerMedium";
    /* Имя шрифта */
    src: url(./fonts/MullerMedium.otf);
    /* Путь к файлу со шрифтом */
  }
  
  @font-face {
    font-family: "MullerExtraBold";
    /* Имя шрифта */
    src: url(./fonts/MullerExtraBold.ttf);
    /* Путь к файлу со шрифтом */
  }