.inServ_descr.descr {
    margin-top: 33px;
    color: #262626;
    line-height: 36px;
}
.descr.inServ_descr.second{
    margin-top: -8px;
}
.inServ_descr.descr.row{
    margin-top:21px;
}
.inServ_descr.descr.row:first-child{
    margin-top:0px;
}
.inServ_descr.descr.ul {
    margin-top: 8px;
    line-height: 38px;
}
.inServ_subtitle.subtitle {
    padding-bottom: 14px;
}
.inServ_textBlock {
    margin-top: 96px;
}
.ul_block {
    margin-top: 26px;
}
.textBlock_button {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doelem_wrapper {
    margin-top: 96px;
}
.doelem_button.textBlock_button{
    margin-top: 94px;
}
.inservfooter{
    margin-top: -16px;
}
.inserv_friends.friends{
    margin-top: 173px;
}
.inServFriend.friends{
    margin-top: 154px;
}
