@media (max-width: 540px) {
    .container {
        width: 92.592%;
    }
    //incase
    .inCase_descr {
        margin-top: 25px;
    }
    .imgweb_img {
        margin-top: 52px;
        width: 100%;
        height: 1755px;
    }
    .imgweb {
        height: 1925px;
    }
    .anyworks_title {
        margin-top: 23px;
        font-size: 49px;
    }
    .casesImages.anyworks_casesImages {
        justify-content: space-between;
        margin-top: 43px;
    }
    .anyworksButtonWrapper {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -37px;
    }
    .anyworksFooter {
        margin-top: 97px;
    }
    .button.cases_button {
        margin-left: 0;
        margin-top: -19.9%;
    }
    .anyworksFooter > .footer .content {
        padding-top: 99px;
    }
    .anyworksFooter > .footer .thirdBlock.descr {
        margin-left: 0;
    }
    .inCase_mainblock {
        flex-direction: column;
    }
    .inCase_steps {
        display: flex;
        margin-top: 36px;
    }
    .inCase_stepsBlock {
        margin-top: 40px;
    }
    .step_subtitle.descr {
        padding-top: 19px;
    }
    .step_anystep.step {
        margin-top: 3px;
    }
    .step_descr_elem.descr.step_descr {
        white-space: normal;
        width: 483px;
    }
    .step:nth-child(even) {
        margin-left: 0px;
    }
    .step {
        width: 350px;
    }
    .inCase_mainblock {
        margin-left: 3.5%;
    }
    .casessubtitle.mainblock_casessubtitle {
        font-size: 48px;
        margin-top: 37px;
    }
    .step_descr.descr {
        width: 240px;
    }
    .step.step_sec {
        margin-left: 22px;
    }
    .mainBlock__img {
        margin-left: -19px;
        width: 103.6%;
        height: 412px;
        margin-top: -25.5%;
    }
    //brief
    .brief__title.title {
        margin-left: 0;
        margin-top: 91px;
        line-height: 52px;
        width: 391px;
        font-size: 48px;
    }
    .brief__descr {
        margin-left: 0;
        width: 381px;
        line-height: 27px;
    }
    .Elem__title.title {
        margin-left: 0;
        margin-top: 71px;
    }
    .Elem__title.title.price {
        margin-top: 89px;
    }
    .inputs {
        display: block;
    }
    .inputs.secondinputs {
        display: flex;
        flex-wrap: wrap;
        width: 88%;
        margin-top: 9px;
        margin-left: -1px;
    }
    .inputText::placeholder {
        padding-left: 31px;
    }
    .label2 {
        width: 172px;
        margin-left: 0;
        margin-top: 25px;
        margin-right: 21px;
    }
    .Elem__title.title.tusk {
        margin-top: 78px;
    }
    .Elem__title.title.contacts {
        margin-top: 78px;
    }
    .inputText:nth-child(2n) {
        margin-left: 0;
    }
    .inputText {
        margin-top: 21px;
        width: 100%;
    }
    .briefButton {
        margin-top: 53px;
    }
    .feedback_desct.descr {
        margin-top: 36px;
        margin-left: -159px;
    }
    .title.feedBack_title {
        margin-top: 181px;
    }
    .politic.descr {
        margin-left: 0;
        font-size: 18px;
        margin-top: 25px;
        line-height: 26px;
    }
    .footerBrief {
        margin-top: 72px;
    }
    .footerBrief > .footer .content {
        padding-top: 98px;
    }
    .footerBrief > .footer .networks.footer_network {
        margin-top: -48px;
    }
    .mainfooter {
        margin-top: 101px;
    }
    .content {
        padding-top: 100px;
    }
    //slider
    .footerSlider {
        margin-left: 33px;
        overflow: visible;
        width: 1920px;
        height: 718px;
        margin-top: 75px;
    }
    .slick-dots {
        width: 1530px;
        position: absolute;
        bottom: -25px;
        display: block;
        list-style: none;
        margin-bottom: 83px;
        margin-left: -18px;
    }
    .communication.footer_communication {
        width: 37%;
    }

    //footer
    .content {
        padding-top: 104px;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }
    .Blocks {
        margin-top: 66px;
        display: flex;
        flex-direction: column;
    }
    .block__text.descr.adresss {
        margin-top: 57px;
    }
    .footer__adress.footer_text {
        padding-bottom: 69px;
    }
    .thirdBlock {
        height: 300px;
    }
    .footerMenu {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        flex-wrap: wrap;
        width: 530px;
        height: 190px;
    }
    .footer {
        height: 996px;
    }
    .networks.footer_network {
        margin-top: -48px;
        margin-left: 3px;
    }

    //menu
    .container-menu.active {
        flex-direction: column;
    }
    .wrapper {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .menulist {
        margin-top: -28px;
        margin-left: 16px;
    }
    .menulist__li {
        font-size: 60px;
        margin-top: 27px;
    }

    //job
    .job_title.title {
        margin-top: 15%;
    font-size: 48px;
    line-height: 119%;
    width: 79.1%;
    }
    .job_descr.descr {
        margin-top: 6.3%;
    }
    .jobs_vacancy:nth-child(even) {
        margin-left: 0;
    }
    .job_jobs {
        justify-content: center;
        margin-top: -0.6%;
    }
    .job_jobs:first-child {
        margin-top: 12px;
    }
    .vacancy_wrapper {
        margin-top: 19.6%;
        margin-left: 9.9%;
    }
    .jobs_vacancy {
        width: 89%;
        margin-top: 53px;
    }
    .title.title_white.req_title {
        font-size: 48px;
        margin-top: 31%;
        width: 93%;
        line-height: 56px;
    }
    .descr.whitedescr.req_descr.req_descr_job {
        margin-top: 33px;
        width: 424px;
        padding-bottom: 0px;
        line-height: 24px;
    }
    .button.white_button.req__button {
        margin-top: 52px;
    }
    .job_request.request {
        height: 1022px;
        margin-top: 2.8%;
    }
    .request__input {
        margin-top: 25px;
    }
    .request__input:nth-child(even) {
        margin-left: 0;
    }
    .request__input {
        width: 79%;
    }
    .jobfooter > .footer .content {
        padding-top: 20%;
    }
    .jobfooter > .footer .communication.footer_communication {
        width: 23.1%;
    }
    //injob
    .title.job_title.inJob_title{
        width: 86%;
        margin-left: 0;
        margin-top: 14.7%;
        line-height: 60px;
        text-align: left;
    }
    .descr.job_descr.imjob_descr {
        font-size: 19.2px;
        margin-top: 28px;
        text-align: left;
    }
    .inJob_textBlock.inServ_textBlock {
        margin-top: 13.7%;
    }
    .inJob_descr.descr {
        margin-top: 50px;
        padding-bottom: 13px;
    }
    .descr.descrbig {
        width: 102%;
        margin-top: 16px;
        font-size: 24.3px;
        line-height: 26.1px;
    }
    .descr.inJob_descr.second_inJob_descr {
        padding-bottom: 18px;
    }
    .descr.location {
        margin-top: 7.4%;
        white-space: normal;
        font-size: 24.2px;
        line-height: 136%;
        width: 94.9%;
    }
    .communication_inline {
        font-size: 17px;
    }
    .injob_request.request {
        margin-top: 88.5px;
        height: 1025px;
    }
    .request.injob_request>.container .title.title_white.req_title{
        margin-top: 16.9%;
    }
    .request.injob_request>.container .descr.whitedescr.req_descr.req_descr_job{
        margin-top: 41px;
        width: 92%;
        padding-bottom: 0px;
        line-height: 24px;
    }
    .request.injob_request>.container .button.white_button.req__button{
        margin-top: 15%;
    }
    .injobfooter>.footer .communication.footer_communication{
        width: 23.1%;
    }
    .injobfooter > .footer .content{
        padding-top: 99.2px;
    }
    
    //header
    .header__logo {
        margin-left: 0px;
    }
    .writeMe {
        margin-right: 0;
    }

    //main
    .main-wrapper {
        margin-top: 43px;
    }
    .main {
        height: 1048px;
    }
    .title.title_white.title_main {
        font-size: 55px;
        line-height: 69px;
    }
    .descr.descr_white.descr_main {
        margin-top: 23px;
    }
    .main__picture {
        margin: 0 auto;
        order: 1;
        width: 427px;
        position: static;
    }
    .text {
        order: 2;
        margin-top: 32px;
    }
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }
    .button.button_red.main_button {
        margin-top: 48px;
        width: 304px;
    }
    //new
    .event{
        width: 100%;
    }
    .new__title {
        font-size: 47px;
        margin-top: -11px;
    }
    .new__descr {
        font-size: 20px;
        margin-top: 28px;
        width: 91%;
        line-height: 173%;
    }
    .new>.container .newList{
        width: 105%;
        margin-top: 11px;
    }
    .events.innew_events {
        margin-top: 66px;
    }
    .newfooter>.footer .communication.footer_communication {
        width: 23.1%;
    }
    //innew
    .title.title_white.webDesign_descr {
        margin-top: 50px;
        margin-left: 0;
        padding-bottom: 116px;
        text-align: left;
        width: 113%;
        font-size: 48px;
    }
    .webDesign_descr.descr {
        margin-top: 83px;
        text-align: left;
    }
    .abouttext {
        margin-top: 27px;
    }
    .descr.par__descr {
        font-size: 20px;
        white-space: normal;
        width: 100%;
    }
    .descr.par__descr.any {
        width: 99%;
        margin-top: 36px;
    }
    .subtitle.par__subtitle {
        letter-spacing: -0.5px;
        padding-top: 73px;
    }
    //about
    .about {
        margin-top: 81px;
        height: 650px;
    }
    .about__title {
        padding-top: 100px;
        margin-left: 0px;
    }
    .about__text {
        margin-left: 0;
        width: 500px;
    }
    //cases
    .cases {
        margin-top: 96px;
    }
    .casestitle.title {
        font-size: 55px;
        width: 514px;
    }
    .casesImages {
        margin-top: 51px;
    }
    .imageScale {
        width: 540px;
        height: 274px;
        margin-left: -20px;
    }
    .images {
        display: block;
        height: 382px;
    }
    .imagetext {
        margin-left: 16px;
        margin-top: 31px;
    }
    .casessubdescr.descr {
        padding-bottom: 12px;
    }
    .casesButtonWrapper {
        display: block;
        margin-top: 32px;
        padding-bottom: 17px;
    }
    //adv
    .title.advtitle {
        font-size: 48px;
    }
    .descr.advtitle {
        margin-top: 10px;
        width: 344px;
        line-height: 41px;
    }

    .listWrapper {
        margin-top: 40px;
    }
    .advwrapper {
        height: 163px;
        width: 100%;
    }
    .advwrapper:nth-child(even) {
        margin-left: 0;
        width: 100%;
    }
    .do_doElems {
        margin-top: 59px;
        flex-direction: column;
    }
    .services__title.title {
        margin-top: 66px;
        font-size: 48px;
    }
    .services_elems {
        padding-top: 58px;
    }
    .services_elems > .doElem .elem_img {
        width: 139%;
        height: 271px;
    }
    .services_elems > .doElem .button.do_button {
        display: none;
    }
    .container > .services_elems .doElem {
        height: 100%;
        margin-top: 1px;
        padding-bottom: 81px;
    }

    .doElem {
        height: 762px;
        margin-top: -21px;
    }
    .do_doElems > .doElem .elem_img {
        width: 139%;
        margin-top: -18px;
    }
    .doButtonWrapper {
        margin-top: -145px;
    }

    .friends_wrapper {
        justify-content: center;
        padding-top: 0px;
        width: 99%;
    }
    .elem_img {
        width: 68%;
        margin-left: -20px;
    }
    .back {
        display: block;
        height: 334px;
        width: 100%;
    }
    .wrapperContent {
        width: 100%;
        margin-left: 0;
    }
    .friends {
        margin-top: 137px;
        height: 930px;
    }
    .slick-dots li button:before {
    }
    .friend__logo {
        margin-top: 44px;
    }
    .servicesfooter > .footer .content {
        padding-top: 97px;
    }
    .servicesfooter > .footer .communication.footer_communication {
        width: 24%;
    }
    .friends_title.title {
        margin-right: 0;
        margin-top: -73px;
        font-size: 36px;
        width: 98%;
        line-height: 44px;
        text-align: center;
    }
    .servicesfooter {
        margin-top: -163px;
    }
    //new
    .new {
        margin-top: 79px;
    }
    .mainfooter {
        margin-top: 101px;
    }
    .mainfooter > .footer .content {
        padding-top: 98px;
    }
    .events {
        margin-top: 42px;
    }
    .event {
        margin-bottom: 76px;
    }
    .nameContainer {
        margin-top: 50px;
    }
    .title.event__title {
        line-height: 28px;
    }
    .newButtonWrapper {
        margin: -3px;
    }
    .title.newtitle {
        font-size: 48px;
    }
    .descr.newdescr {
        width: 370px;
        line-height: 36px;
        margin-top: 10px;
    }
    .title.do_title {
        margin-top: 82px;
        font-size: 48px;
        text-align: left;
    }
    .descr.do_title {
        text-align: left;
    }
    .event__img {
        width: 108%;
        height: 318px;
        margin-left: -20px;
    }
    .doButtonWrapper {
        display: block;
    }
    //feedback
    .messageText {
        margin-left: 66px;
        margin-top: 47px;
    }
    .feedback {
        height: 1089px;
        margin-top: 98px;
    }
    .feedback_descr.descr {
        margin-top: 30px;
        margin-left: -162px;
    }
    .title.feedBack_title {
        margin-left: -128px;
        margin-top: 41px;
        font-size: 48px;
        white-space: pre-line;
        line-height: 57px;
    }
    .itemMessage {
        margin-left: 25px;
        height: 258px;
        width: 384px;
        background: url(./images/minicloudleft.png);
    }
    .itemMessage.right {
        margin-left: 0;
        width: 374px;
        height: 268px;
        background: url(./images/minicloudright.png);
    }
    .item_letter.descr {
        width: 307px;
        line-height: 23px;
    }
    .messageText.secondgroup {
        margin-left: 44px;
        margin-top: 58px;
    }
    .sliderWrapper {
        width: 1570px;
    }
    .Positiondescr.descr {
        font-size: 16px;
    }
    button.button_red.main_button {
        width: 304px;
    }
    .mainfooter > .footer .communication.footer_communication {
        width: 24%;
    }
    //case
    .case__title.title {
        font-size: 47.4px;
        margin-top: 17%;
    }
    .case__descr {
        line-height: 35px;
    }
    .list__item.case_list__item {
        margin-top: 20px;
    }
    .list__item.case_list__item {
        padding: 15px 23.1px;
    }
    .casesImages {
        margin-top: 78px;
    }
    .casefooter>.footer .communication.footer_communication {
        width: 23.1%;
    }
    //inserv
    .inServ_textBlock {
        margin-top: 19.9%;
    }
    .title.inserv_title.services__title {
        text-align: left;
        margin-top: 15.9%;
    }
    .descr.descr__title.inserv_descr {
        text-align: left;
        margin-top: 5.7%;
    }
    .inServ_subtitle.subtitle {
        padding-bottom: 8.5%;
    }
    .inServ_descr.descr {
        line-height: 194.8%;
    }
    .descr.inServ_descr.second {
        margin-top: 1%;
    }
    .inServ_descr.descr.row:first-child {
        font-size: 20.2px;
        line-height: 201%;
    }
    .ul_block {
        margin-top: 6.8%;
    }
    .textBlock_button{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 7.8%;
    }
    .title.services__title.anyServ_sectitle {
        margin-top: 18.7%;
        text-align: left;
        padding-bottom: 11px;
    }
    .doelem_button.textBlock_button {
        margin-top: -15%;
        margin-left: 4%;
    }
    .inServFriend.friends {
        margin-top: 81px;
    }
    .title.friends_title.inServFriend {
        margin-right: 3px;
        margin-top: 90px;
        text-align: center;
    }
    .inservfooter {
        margin-top: 0.5%;
    }
    .inservfooter>.footer .communication.footer_communication {
        width: 23.1%;
    }
}
