@media (max-width: 1360px) {
    .container {
        width: 1220px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 850px;
    }
    //menu
    .header {
        padding-top: 66px;
    }
    .container-menu {
        width: 800px;
    }
    .writeMe {
        margin-right: 33px;
    }
    .header__logo {
        margin-left: 31px;
    }
    //main
    .main {
        height: 650px;
    }
    .main__picture {
        left: 0;
        width: 429px;
        height: 432px;
        margin-top: 37px;
        left: 9px;
    }
    .text {
        margin-top: 74px;
    }
    .title.title_white.title_main {
        font-size: 64px;
    }
    .descr.descr_white.descr_main {
        margin-top: 16px;
        width: 444px;
    }
    .button.button_red.main_button {
        margin-top: 43px;
    }
    //case
    .imageScale {
        width: 464px;
        height: 274px;
        position: static;
    }
    .imagetext {
        position: static;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 76px;
        margin-top: 10px;
        text-align: left;
    }
    .casessubtitle {
        width: 203px;
    }
    .images {
        transition: 0.6s;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 274px;
        perspective: 100px;
        width: 100%;
    }
    .casesImages {
        margin-top: 76px;
        flex-direction: column;
    }
    .imagesContainer:nth-child(even) {
        margin-left: 0px;
    }
    .casesButtonWrapper {
        margin-top: 27px;
        padding-bottom: 66px;
    }
    //adv
    .listWrapper {
        margin-top: 69px;
    }
    .advwrapper {
        height: 260px;
        width: 50%;
    }
    .wrapperContent {
        width: 61%;
    }
    //about
    .about {
        margin-top: 44px;
        height: 653px;
    }
    .about__title {
        padding-top: 151px;
        margin-left: 53px;
    }
    .about__text {
        margin-left: 86px;
        line-height: 45px;
        width: 686px;
        font-size: 36px;
    }

    //do
    .title.do_title {
        margin-top: 147px;
        text-align: center;
    }
    .descr.do_title {
        text-align: center;
    }
    .do_doElems {
        justify-content: space-between;
        flex-direction: row;
    }
    .doElem {
        width: 389px;
        display: flex;
        flex-direction: column;
    }
    .doelem_wrapper {
        display: flex;
        margin-top: 96px;
    }
    .elem_img {
        width: 390px;
        height: 284px;
    }
    .doButtonWrapper {
        margin-top: 19px;
    }
    .elemDescr {
        margin-left: 0;
    }
    .newList {
        width: 100%;
    }
    .list {
        width: 403.3px;
    }
    .elem__name {
        margin-top: 48px;
    }
    //feedback
    .feedback {
        margin-top: 119px;
    }
    //123

    //new
    .title.event__title {
        font-size: 24px;
    }
    .event:nth-child(even) {
        margin-top: 0;
    }
    .newButtonWrapper {
        margin-top: 33px;
    }
    .event__img {
        width: 382px;
        height: 318px;
    }
    //footer
    .mainfooter {
        margin-top: 152px;
    }
    //brief
    .inputs {
        width: 995px;
    }
    .inputs.secondinputs {
        width: 85%;
    }
    .inputText {
        width: 415px;
    }
    .hr {
        width: 100%;
    }
    .tusk__textarea {
        width: 100%;
    }

    //job
    .jobs_vacancy:nth-child(even) {
        margin-left: 30px;
    }
    .jobs_vacancy {
        width: 410px;
        height: 280px;
    }
    .job_title.title{
        width: 453px;
        line-height: 66px;
    }
    .vacancy_wrapper {
        margin-top: 69px;
        margin-left: 51px;
    }
    .request__input:nth-child(even) {
        margin-left: 38px;
    }
    .job_request.request {
        height: 800px;
        margin-top: 133px;
    }
    .title.title_white.req_title {
        margin-top: 77px;
        width: 510px;
    }
    .descr.whitedescr.req_descr.req_descr_job {
        margin-top: 33px;
        padding-bottom: 16px;
    }

    //services
    .services_elems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .friends {
        margin-top: 93px;
        height: 895px;
    }
    .friends_title.title {
        margin-right: 52px;

        text-align: left;
    }
    .friend__logo {
        width: 187px;
        margin-top: 50px;
    }
    .friends_wrapper {
        padding-top: 81px;
        width: 950px;
    }
    .friends_wrapper.friend_wrapper_anymargin {
        padding-top: 120px;
    }

    //school
    .who_categories {
        margin-top: 96px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .categories_category {
        margin-left: 0px;
        width: 738px;
        height: 357px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 540px) {
    .container {
        width: 500px;
    }
    //header
    .header__logo {
        margin-left: 0;
    }
    .writeMe {
        margin-right: 0;
    }

    //main
    .main-wrapper {
        margin-top: 43px;
    }
    .main {
        height: 1048px;
    }
    .title.title_white.title_main {
        font-size: 55px;
        line-height: 69px;
    }
    .descr.descr_white.descr_main {
        margin-top: 23px;
    }
    .main__picture {
        margin: 0 auto;
        order: 1;
        width: 427px;
        position: static;
    }
    .text {
        order: 2;
        margin-top: 32px;
    }
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }
    .button.button_red.main_button {
        margin-top: 48px;
    }

    //about
    .about__title {
        margin-left: 0;
    }
    .about__text {
        margin-left: 0;
        width: 500px;
    }
    //cases
    .cases {
        margin-top: 96px;
    }
    .casestitle.title {
        width: 514px;
    }
    .casesImages {
        margin-top: 51px;
    }
    .imageScale {
        width: 540px;
        height: 274px;
        margin-left: -20px;
    }
    .images {
        display: block;
        height: 382px;
    }
    .imagetext {
        margin-left: 16px;
        margin-top: 31px;
    }
    .casessubdescr.descr{
        padding-bottom: 12px;
    }
    .casesButtonWrapper{
        display: block;
        margin-top: 41px;
        padding-bottom: 17px;   
    }
    //adv
    .title.advtitle {
        font-size: 48px;
    }
    .descr.advtitle {
        width: 344px;
        line-height: 37px;
    }
    .listWrapper {
        margin-top: 74px;
    }
    .advwrapper {
        height: 176px;
        width: 100%;
    }
    .doElem {
        width: 160%;
    }
    .do_doElems {
        flex-direction: column;
    }
    .elem_img {
        width: 68%;
        margin-left: -20px;
    }

    //new
    .title.do_title {
        margin-top: 81px;
        font-size: 48px;
        text-align: left;
    }
    .descr.do_title {
        text-align: left;
    }
}
@media (max-width: 320px) {
    .container {
        width: 281px;
    }
}
