@media (max-width: 320px) {
    .casestitle.title {
        font-size: 25px;
    }
    //breif
    .container {
        width: 281px;
    }
    .button {
        width: 215px;
        height: 53px;
        font-size: 12px;
    }
    .title {
        font-size: 22px;
    }
    .brief__title.title {
        font-size: 25px;
        margin-top: 50px;
        line-height: 27px;
        width: 200px;
    }
    .Elem__title.title {
        margin-left: 0;
        font-size: 18px;
        margin-top: 33px;
    }
    .descr {
        font-size: 16px;
    }
    .brief__descr {
        font-size: 16px;
        margin-left: 0;
        width: 259px;
        line-height: 16px;
        margin-top: 16px;
    }
    .label2 {
        width: 132px;
        margin-left: 0;
        margin-top: 13px;
    }
    .inputs.secondinputs {
        display: flex;
        flex-wrap: wrap;
        width: 110%;
        margin-top: -4px;
    }
    .Elem__title.title.tusk {
        margin-top: -59px;
    }
    .tusk__textarea {
        height: 173px;
    }
    .typeFile {
        width: 315px;
    }
    .Elem__title.title.contacts {
        margin-top: -48px;
    }
    textarea::placeholder {
        padding-top: 12px;
        font-family: "MullerRegular";
        font-size: 16px;
        color: #b6b6b6;
    }
    .inputText {
        margin-top: 18px;
    }
    .inputTextWrapper {
        margin-top: 2px;
    }
    .briefButton {
        margin-left: 6%;
        width: 249px;
        height: 50px;
    }
    .politic.descr {
        margin-left: 0;
        font-size: 16px;
        margin-top: 14px;
        line-height: 20px;
    }
    .footerBrief {
        margin-top: 40px;
    }
    .footerBrief > .footer .content {
        padding-top: 41px;
    }
    .step:nth-child(even) {
        margin-left: 0;
    }
    .briefButton {
        margin-top: 40px;
    }
    .inputText::placeholder {
        padding-left: 27px;
        font-family: "MullerRegular";
        font-size: 16px;
        color: #b6b6b6;
    }
    .subtitle {
        font-size: 25px;
    }
    //main
    .inputs {
        margin-top: -2px;
        width: 106%;
    }
    .label.descr {
        margin-top: 13px;
    }
    .Elem__title.title.price {
        margin-top: 37px;
    }
    .main {
        height: 640px;
    }
    .container > .do_doElems .doElem {
        height: 100%;
        padding-bottom: 60px;
    }
    .do_doElems {
        margin-top: 27px;
    }
    .main__picture {
        margin: 0 auto;
        order: 1;
        width: 228px;
        height: 226px;
        position: static;
    }
    .main-wrapper {
        margin-top: 24px;
    }
    .title.title_white.title_main {
        font-size: 30px;
        line-height: 35px;
    }
    .descr.descr_white.descr_main {
        margin-top: 16px;
        font-size: 16px;
        width: 273px;
        line-height: 20px;
    }
    .button.button_red.main_button {
        margin-top: 30px;
        width: 215px;
    }
    .cases {
        margin-top: 48px;
    }
    .header__logo {
        margin-left: 10px;
    }
    .imageScale {
        width: 320px;
        height: 209px;
    }
    .imagetext {
        margin-left: 9px;
        margin-top: 16px;
    }
    .casesImages {
        margin-top: 28px;
    }
    .casessubtitle {
        width: 225px;
        font-size: 19px;
    }
    .casessubdescr.descr {
        margin-top: 3px;
        padding-bottom: 14px;
        font-size: 15px;
    }
    .casesdescr.descr {
        margin-top: 13px;
    }
    .imagesContainer {
        margin-bottom: -71px;
    }
    .casesButtonWrapper {
        padding-bottom: 0;
        display: flex;
        margin-top: 9px;
    }
    .title.advtitle {
        font-size: 25px;
    }
    .field_descr.descr {
        line-height: 20px;
        margin-top: -3px;
    }
    .adv_subtitle.subtitle {
        font-size: 19px;
    }
    .listWrapper {
        margin-top: 70px;
    }
    .advwrapper {
        height: 101px;
    }
    .wrapperContent.last {
        margin-top: -2px;
    }
    .about {
        height: 560px;
        margin-top: -33px;
    }
    .about__title {
        font-size: 11px;
        padding-top: 50px;
    }
    .about__text {
        font-size: 25px;
        width: 281px;
        margin-top: 45px;
        line-height: 38px;
    }
    .title.do_title {
        margin-top: 78px;
        font-size: 25px;
    }
    .descr.do_title {
        margin-top: 11px;
    }
    //header
    .header {
        padding-top: 31px;
    }
    .advantages {
        margin-top: 47px;
    }
    .descr.advtitle {
        margin-top: 8px;
        line-height: 21px;
    }
    .menuLogoBlack {
        width: 100px;
    }
    .menuLogoWhite {
        width: 100px;
    }
    .writeMeButton {
        display: none;
    }
    .exit__circle {
        margin-top: -1px;
        margin-right: 12px;
        width: 29px;
        height: 29px;
    }
    //do
    .doButtonWrapper {
        margin-top: -42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list {
        width: 98%;
        margin-top: 15px;
    }
    .services_elems > .doElem .elem_img {
        width: 114%;
        height: 196px;
    }
    .friends {
        margin-top: 20px;
    }
    .friend__logo {
        margin-right: 1%;
        width: 49%;
        margin-top: 28px;
    }
    .servicesfooter {
        margin-top: -240px;
    }
    .servicesfooter > .footer .content {
        padding-top: 44px;
    }
    .servicesfooter > .footer .communication.footer_communication {
        width: 19%;
    }
    .friends_title.title {
        margin-right: 28px;
        margin-top: 14px;
        font-size: 25px;
        width: 77%;
        white-space: normal;
        line-height: 30px;
        text-align: left;
    }

    .elem__name {
        padding-bottom: 0;
        font-size: 18px;
        margin-top: 18px;
    }
    .list__name {
        font-size: 16px;
    }
    .button.do_button {
        margin-top: 20px;
        margin-left: 25px;
        width: 230px;
    }
    .services_elems > .doElem .button.do_button {
        display: flex;
        margin-top: 20px;
    }
    //sldier
    .doElem {
        margin-top: 39px;
    }
    .slick-dots {
        margin-bottom: 94px;
    }
    .footerSlider {
        height: 336px;
    }
    .groupItem {
        margin-top: -60px;
    }
    .groupItem.sec {
        margin-top: 18px;
    }
    .messageText.secondgroup {
        margin-left: 15px;
    }
    .positiondescr.descr {
        font-size: 10px;
        margin-top: 85px;
    }
    .itemMessage {
        margin-left: 5px;
        height: 126px;
        width: 238px;
        background: url(./images/cloud320left.png);
    }
    .itemMessage.right {
        margin-left: 111px;
        height: 135px;
        width: 238px;
        background: url(./images/cloud320right.png);
    }
    .descr.do_title {
        padding-bottom: 0;
    }
    .feedback {
        height: 493px;
        margin-top: 73px;
    }
    .mainfooter > .footer .communication.footer_communication {
        width: 19%;
    }
    .title.feedBack_title {
        margin-left: 0px;
        font-size: 25px;
        margin-top: 125px;
        line-height: 32px;
        text-align: center;
        width: 233px;
        white-space: normal;
    }
    .feedback_desct.descr {
        margin-left: 0;
        margin-top: 5px;
    }
    .descr.newdescr {
        width: 253px;
        line-height: 18px;
        margin-top: 10px;
    }
    .item__logo.second_item__logo {
        margin-left: 5px;
        margin-top: 25px;
    }
    .item__logo {
        width: 35px;
        height: 35px;
        margin-left: 113px;
        margin-top: 18px;
    }
    .Message__name.title {
        font-size: 12px;
    }
    .Positiondescr.descr {
        font-size: 10px;
    }
    .positiondescr.descr.red {
        font-size: 10px;
    }
    .item_letter.descr {
        font-size: 12px;
        width: 216px;
        margin-top: 9px;
        line-height: 15px;
    }
    .messageText.secondgroup {
        margin-left: 15px;
        margin-top: 19px;
    }
    .itemPosition {
        margin-top: -2px;
    }
    .messageText {
        margin-top: 18px;
        margin-left: 23px;
    }
    //new
    .new {
        margin-top: 80px;
    }
    .title.newtitle {
        font-size: 25px;
        margin-top: 2px;
    }
    .button.eventbutton {
        width: 227px;
    }
    .event__img {
        width: 114%;
        height: 209px;
    }
    .events {
        margin-top: 26px;
    }
    .nameContainer {
        margin-top: 20px;
    }
    .event__name {
        padding: 4px 5px 0 5px;
        font-size: 12px;
    }
    .title.event__title {
        font-size: 18px;
        margin-top: 10px;
        line-height: 19px;
    }
    .event {
        margin-bottom: 44px;
    }
    .do_doElems > .doElem .elem_img {
        width: 82%;
        height: 197px;
        margin-top: -30px;
    }
    .newButtonWrapper {
        margin: 0 auto;
        margin-top: -3px;
    }
    .mainfooter {
        margin-top: 82px;
    }
    //footer
    .footer__logo {
        width: 98px;
        height: 22px;
    }
    .mainfooter > .footer .content {
        padding-top: 42px;
    }
    .block__text.descr {
        line-height: 22px;
        font-size: 16px;
        margin-top: 6px;
    }
    .secBlock {
        height: 193px;
    }
    .Blocks {
        margin-top: 50px;
    }
    .footer__comm {
        margin-top: 0px;
    }
    .communication.footer_communication {
        width: 29%;
    }
    .communication.footer_communication {
        padding-top: 8px;
        font-size: 16px;
    }
    .communication:last-child {
        margin-top: -5px;
    }
    .block__text.descr.adresss {
        margin-top: 31px;
    }
    .footer__adress.footer_text {
        font-size: 16px;
        margin-top: 12px;
    }
    .footerMenu {
        display: flex;
        flex-direction: column;
        margin-top: -11px;
        flex-wrap: wrap;
        width: 315px;
        height: 136px;
    }
    .footer_text {
        font-size: 16px;
    }
    .footer {
        height: 629px;
    }
    .menuli {
        font-size: 16px;
        margin-top: 18px;
    }
    .networks.footer_network {
        margin-top: -110px;
        margin-left: 67px;
    }
    .wrapperContent {
        margin-left: 0;
    }
    //incase
    .inCase_steps {
        display: block;
        margin-top: 11px;
    }
    .inCase_descr.descr {
        letter-spacing: 2.5px;
        font-size: 12px;
        margin-top: -15px;
    }
    .casessubtitle.mainblock_casessubtitle {
        font-size: 25px;
    }
    .descr.mainblock_descr {
        margin-top: 11px;
        font-size: 15px;
    }
    .step_descr.descr {
        margin-top: 3px;
    }
    .inCase_mainblock {
        margin-left: 5.5%;
    }
    .mainBlock__img {
        width: 105.9%;
        height: 183px;
        margin-top: -67.5%;
    }
    .step_descr_elem.descr.step_descr {
        width: 280px;
        line-height: 27px;
        margin-top: -30px;
        white-space: normal;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 3;
    }
    .order3 {
        order: 2;
    }
    .order4 {
        order: 4;
    }
    .inCase_stepsBlock {
        padding-bottom: 20px;
        margin-top: 2px;
    }
    .imgweb_img {
        margin-top: 51px;
        width: 100%;
        height: 984px;
    }
    .imgweb {
        height: 1085px;
    }

    .step_anystep.step {
        margin-top: -10px;
    }
    .anyworks_title.title {
        font-size: 25px;
        margin-top: 51px;
    }
    .casesImages.anyworks_casesImages {
        margin-top: 23px;
    }
    .anyworksButtonWrapper {
        justify-content: center;
        align-items: center;
        margin-top: 4px;
    }
    .button {
        width: 228px;
    }
    .anyworksFooter {
        margin-top: 97px;
    }
    .anyworksFooter > .footer .content {
        padding-top: 43px;
    }
    .button.cases_button {
        margin-left: 2px;
        margin-top: 0px;
    }
    .slick-dots li button:before {
        width: 6px;
        height: 6px;
    }
    .inputorder1 {
        order: 1;
    }
    .inputorder2 {
        order: 3;
    }
    .inputorder3 {
        order: 2;
    }
    .inputorder4 {
        order: 4;
    }
    .footerBrief > .footer .networks.footer_network {
        margin-top: -109px;
    }
    .footerBrief > .footer .footer__comm {
        margin-top: -1px;
        margin-left: 2px;
    }
    .footerBrief > .footer .block__text.descr.adresss {
        margin-top: 32px;
        margin-left: 0;
    }

    .services__title.title {
        margin-top: 52px;
        font-size: 25px;
    }
    .descr.descr__title {
        margin-top: 12px;
    }
    .services_elems {
        padding-top: 20px;
    }

    //inserv
    .title.inserv_title.services__title {
        margin-top: 17.4%;
    }
    .descr.descr__title.inserv_descr {
        margin-top: 4.7%;
        font-size: 17px;
    }
    .inServ_textBlock {
        margin-top: 9.8%;
    }
    .inServ_subtitle.subtitle {
        padding-bottom: 3.3%;
        font-size: 18px;
    }
    .iServ__unvisibleBlockon320px {
        display: none;
    }
    .inServ_descr.descr {
        font-size: 16.3px;
        line-height: 194.8%;
    }
    .doelem_wrapper > .do_doElems .doElem {
        width: 140%;
        height: 100%;
    }
    .doelem_wrapper > .do_doElems .list {
        width: 68.8%;
        margin-top: 9px;
    }
    .doelem_button.textBlock_button {
        margin-top: 6.1%;
        margin-left: 16%;
    }
    .inServFriend.friends {
        margin-top: 19px;
    }
    .title.friends_title.inServFriend {
        margin-top: 50px;
        text-align: left;
    }
    .inservfooter {
        margin-top: -63.3%;
    }
    .doelem_wrapper {
        margin-top: -21.4px;
    }
    .inservfooter > .footer .content {
        padding-top: 15%;
    }
    .inservfooter > .footer .communication.footer_communication {
        width: 18.5%;
    }
    //case
    .case__title.title {
        font-size: 25px;
        margin-top: 17.7%;
    }
    .case__descr {
        font-size: 16px;
        line-height: 26px;
        margin-top: 7px;
    }
    //job
    .job_jobs {
        margin-top: 0.4%;
    }
    .jobs_vacancy {
        width: 100%;
        height: 154px;
        margin-top: 22px;
    }
    .subtitle {
        font-size: 18px;
    }
    .descr.vacancy_descr {
        margin-top: 8px;
        line-height: 26px;
    }
    .vacancy_wrapper {
        margin-top: 14.6%;
        margin-left: 6.9%;
    }
    .job_title.title {
        margin-top: 17%;
        font-size: 25px;
        line-height: 119%;
        width: 79.1%;
    }
    .job_descr.descr {
        margin-top: 4.6%;
        width: 73%;
        line-height: 135%;
    }
    .job_request.request {
        height: 717px;
        margin-top: 21.8%;
    }
    .title.title_white.req_title {
        font-size: 25px;
        margin-top: 12%;
        width: 100%;
        line-height: 33px;
    }
    .descr.whitedescr.req_descr.req_descr_job {
        margin-top: 2%;
        width: 95%;
        padding-bottom: 0px;
        line-height: 126%;
    }
    .request__input {
        width: 76%;
    }
    .request__input {
        margin-top: -17px;
    }
    .request__input::placeholder {
        font-size: 15px;
    }
    .button.white_button.req__button {
        margin-top: 13.3%;
        margin-left: 6.6%;
        width: 82.3%;
        height: 49px;
    }
    .jobfooter > .footer .communication.footer_communication {
        width: 18.5%;
    }
    .anyinput.request__input {
        height: 40px;
        margin-top: 11px;
    }
    .descr.whitedescr.small {
        font-size: 16px;
        margin-top: 17px;
        line-height: 20px;
    }
    //case
    .case320unvisible {
        display: none;
    }
    .newList {
        margin-top: 18px;
        margin-left: 0.1%;
        width: 103.6%;
    }
    .list__item.case_list__item {
        font-size: 13px;
        padding: 10px 12.8px;
        margin-right: 5.6%;
        margin-top: 12px;
    }
    .case320allcat {
        display: block;
        font-size: 12px;
        text-decoration: none;
        font-family: "Muller Medium";
        color: #555555;
        border-bottom: 1px solid #555;
        margin-top: 13%;
    }
    .casescreen > .container .casesImages {
        margin-top: 17.3%;
    }
    .button.cases_button {
        margin-left: -22%;
    }
    .casefooter > .footer .communication.footer_communication {
        width: 18.5%;
    }
    //injob
    .title.job_title.inJob_title {
        width: 83%;
        margin-left: 0;
        margin-top: 16%;
        line-height: 32px;
        text-align: left;
    }
    .descr.job_descr.imjob_descr {
        font-size: 16.2px;
        margin-top: 4px;
        width: 95.9%;
        text-align: left;
    }
    .subtitle.inJob_subtitle {
        font-size: 18px;
        margin-top: -2%;
    }
    .inJob_descr.descr {
        font-size: 16px;
        margin-top: 36px;
        padding-bottom: 29px;
    }
    .descr.descrbig {
        width: 101%;
        margin-top: 2px;
        font-size: 16.3px;
        line-height: 29.8px;
    }
    .descr.inJob_descr.second_inJob_descr {
        padding-bottom: 27px;
        margin-top: 33px;
    }
    .descr.location {
        margin-top: 10.4%;
        white-space: normal;
        font-size: 16px;
        line-height: 183.3%;
        width: 100.9%;
    }
    .communication_inline {
        font-size: 16px;
    }
    .injob_request.request {
        margin-top: 43.5px;
        height: 597px;
    }
    .request.injob_request > .container .title.title_white.req_title {
        margin-top: 12.4%;
    }
    .request.injob_request > .container .descr.whitedescr.req_descr.req_descr_job {
        margin-top: 5px;
        width: 92%;
        padding-bottom: 0px;
        line-height: 19.9px;
    }
    .request.injob_request > .container .descr.whitedescr.small {
        margin-top: 5px;
        width: 98.5%;
        padding-bottom: 0px;
        line-height: 19.9px;
    }
    .injobfooter > .footer .content {
        padding-top: 42.6px;
    }
    .injobfooter > .footer .communication.footer_communication {
        width: 18.5%;
    }
    //new
    .new__title {
        font-size: 25px;
        margin-top: -52px;
    }
    .new__descr {
        font-size: 16px;
        margin-top: 7px;
        width: 91%;
        line-height: 142%;
    }
    .new > .container .newList {
        width: 105%;
        margin-top: 3px;
    }
}
