.services__title.title {
    margin-top: 140px;
}
.descr.descr__title {
    margin-top: 25px;
}
.services_elems {
    padding-top: 49px;
}
.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 183px;
    display: flex;
    height: 888px;
    background: url(./images/servicesbg.png);
}
.friends_title.title {
    margin-top: 109px;
    line-height: 69px;
    text-align: center;
}
.friends_wrapper {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding-top: 68px;
    margin: 0 auto;
    width: 80%;
}
.friend__logo {
    margin-right: 4%;
    margin-top: 74px;
}
.servicesfooter {
    margin-top: -17px;
}
.list__name_withlineh.list__name {
    line-height: 34px;
}
 