@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

@font-face {
  font-family: "Muller";
  /* Имя шрифта */
  src: url(./fonts/ofont.ru_Muller.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: "MullerRegular";
  /* Имя шрифта */
  src: url(./fonts/MullerLight.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: "MullerLight";
  /* Имя шрифта */
  src: url(./fonts/MullerLight.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: "MullerMedium";
  /* Имя шрифта */
  src: url(./fonts/MullerMedium.otf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: "MullerExtraBold";
  /* Имя шрифта */
  src: url(./fonts/MullerExtraBold.ttf);
  /* Путь к файлу со шрифтом */ }

.container {
  margin: 0 auto;
  width: 1214px; }

.main {
  width: 100%;
  height: 917px;
  background: url("./images/mainbg.png") no-repeat center top/cover; }

.main-wrapper {
  display: flex;
  justify-content: space-between; }

.text {
  margin-top: 192px;
  display: flex;
  flex-direction: column; }

.main__picture {
  position: relative;
  margin-top: 53px;
  left: 134px; }

.title.title_white.title_main {
  font-size: 65px;
  line-height: 80px; }

.descr.descr_white.descr_main {
  line-height: 30px;
  color: #fdfcfc;
  margin-top: 30px;
  width: 550px; }

.button.button_red.main_button {
  margin-top: 70px; }

.do_doElems {
  display: flex;
  flex-direction: column; }

.descr {
  margin-top: 17px;
  font-family: "MullerRegular";
  font-size: 20px;
  color: #6c6c6c; }

.descr.descr_white {
  color: #fdfcfc; }

.title {
  font-family: "Muller";
  font-size: 55px;
  color: #252525; }

.title.title_white {
  color: #fff; }

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 304px;
  height: 70px;
  border: none;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 16px;
  color: #222222;
  font-family: "Muller";
  text-decoration: none;
  border: 2px solid #d0d0d0; }

.button.button_red {
  color: #fff;
  background-color: #f84525;
  border: 0; }

.subtitle {
  font-size: 30px;
  font-family: "Muller";
  color: #252525; }

.cases {
  margin-top: 147px; }

.imagesContainer {
  margin-bottom: 79px;
  display: flex; }

.casesImages {
  margin-top: 161px;
  display: flex;
  flex-wrap: wrap; }

.cases__img {
  transition: 0.6s;
  width: 574px;
  height: 780px;
  position: absolute;
  z-index: 0; }

.images {
  transition: 0.6s;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 780px;
  perspective: 100px;
  width: 573px; }

.imagesContainer:nth-child(even) {
  margin-left: 66px; }

.imagetext {
  transform: translate3d(0, 0, 5px);
  position: relative;
  z-index: 100;
  margin-bottom: 75px;
  margin-right: -21px;
  text-align: right; }

.imagetext.taxi {
  margin-bottom: 75px;
  margin-right: -8px; }

.imagetext.push {
  margin-right: -5px;
  margin-bottom: 74px; }

.images:hover .cases__img {
  transform: rotate3d(0, 1, 0, -0.8deg); }

.images:hover {
  transform: translate(0, -70px); }

.casessubtitle {
  font-family: "MullerExtraBold";
  font-size: 37px; }

.casessubdescr.descr {
  font-size: 16px;
  color: #070707;
  margin-top: 18px; }

.casesButtonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  padding-bottom: 50px; }

.advantages {
  margin-top: 80px; }

.field_descr.descr {
  margin-top: 17px; }

.adv_subtitle.subtitle {
  padding-bottom: 15px; }

.wrapperContent.last {
  margin-top: 30px; }

.listWrapper {
  margin-top: 114px;
  display: flex;
  flex-wrap: wrap; }

.field_a {
  display: inline-block;
  border-bottom: 1px solid #fdfdfd;
  visibility: hidden; }

.wrapperContent {
  margin-left: 6px;
  width: 400px;
  height: 260px;
  margin-top: 10px; }

.advwrapper {
  height: 336px;
  width: 606px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.back {
  transition: 0.6s;
  display: flex;
  height: 334px;
  width: 608px;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.back:hover {
  background-color: #f84525;
  border-radius: 50px 50px 0 50px;
  transform: translate(31px, -55px) scaleX(0.96) scaleY(1.07); }

.back:hover .field_a {
  visibility: visible;
  margin-top: 40px; }

.back:hover .adv_subtitle.subtitle {
  color: #fff; }

.back:hover .field_descr.descr {
  color: #fff; }

.back:hover .wrapperContent {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 25px; }

.about {
  margin-top: 28px;
  height: 874px;
  background: url("./images/aboutbg.png"); }

.about__title {
  font-size: 14px;
  letter-spacing: 4.3px;
  font-family: "MullerMedium";
  color: #fbfefe;
  padding-top: 236px; }

.about__text {
  margin-left: 67px;
  line-height: 58px;
  margin-top: 70px;
  font-family: "Muller";
  color: #fffdfd;
  font-size: 44px; }

.do {
  width: 100%; }

.title.do_title {
  margin-top: 151px; }

.descr.do_title {
  margin-top: 26px;
  padding-bottom: 31px; }

.doElem {
  margin-top: 50px;
  display: flex; }

.elem_img {
  height: 418px;
  width: 597px; }

.elemDescr {
  margin-left: 111px;
  display: flex;
  flex-direction: column; }

.button.do_button {
  margin-top: 60px; }

.elem__name {
  padding-bottom: 13px;
  font-family: "Muller";
  font-size: 30px;
  color: #252525; }

.list {
  margin-top: 23px;
  display: flex;
  justify-content: space-between; }

.list__name {
  color: #6c6c6c;
  text-decoration: none;
  font-family: "MullerRegular";
  font-size: 20px; }

.list__arrow {
  background: url("./images/arrow.png");
  margin-top: 6px;
  width: 7px;
  height: 11px;
  margin-left: 70px; }

.list:hover .list__name {
  color: #f84525; }

.list:hover .list__arrow {
  background: url("./images/redArrow.png"); }

.doButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

.slick-dots {
  margin-bottom: 130px; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #f84525; }

.slick-slide {
  padding-left: 30px;
  padding-right: 30px;
  outline: none; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  overflow: visible; }

.group.slick-slide {
  opacity: 0.5; }

.group.slick-slide.slick-current.slick-center {
  opacity: 1; }

.title.feedBack_title {
  margin-top: 190px; }

.feedback {
  margin-top: 150px;
  overflow: hidden;
  display: flex;
  height: 907px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/footer.png"); }

.sliderWrapper {
  overflow: visible;
  width: 1920px; }

.group {
  overflow: visible; }

.footerSlider {
  margin-left: 33px;
  overflow: visible;
  width: 1920px;
  height: 600px;
  margin-top: 75px; }

.groupItem {
  display: flex; }

.groupItem.sec {
  margin-top: 40px; }

.group {
  min-width: 900px; }

.item__logo {
  width: 100px;
  height: 100px; }

.item__logo.second_item__logo {
  margin-left: 20px;
  margin-top: 5px; }

.messageText.secondgroup {
  margin-left: 38px; }

.itemMessage {
  margin-left: 25px;
  height: 196px;
  width: 714px;
  background: url("./images/letterCloudLeft.png"); }

.itemMessage.right {
  margin-left: 0;
  background: url("./images/letterCloudRight.png"); }

.messageText {
  margin-left: 62px;
  margin-top: 43px; }

.Message__name.title {
  font-size: 20px;
  color: #262626; }

.itemPosition {
  margin-top: 12px; }

.positiondescr.descr {
  font-size: 16px;
  color: #a2a2a2; }

.positiondescr.descr.red {
  color: #f84525;
  margin-top: 10px; }

.item_letter.descr {
  color: #494949;
  margin-top: 14px; }

.new {
  margin-top: 150px; }

.event:nth-child(even) {
  margin-top: 100px; }

.title.event__title.anything {
  margin-top: 34px; }

.title.event__title.secondrow {
  margin-top: 10px; }

.events {
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 90px;
  display: flex;
  justify-content: space-between; }

.event {
  margin-bottom: 62px;
  cursor: pointer;
  perspective: 100px;
  display: flex;
  flex-direction: column; }

.event__img {
  width: 561px;
  transition: 0.6s; }

.newButtonWrapper {
  margin: 0 auto;
  margin-top: 52px; }

.event:hover .event__img {
  transform: rotate3d(0, 1, 0, -1deg); }

.nameContainer {
  margin-top: 30px; }

.nameContainer.nameContainer2 {
  margin-top: 42px; }

.nameContainer.nameContainer3 {
  margin-top: 0; }

.nameContainer.nameContainer4 {
  margin-top: 0; }

.event__name {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: "MullerMedium";
  color: white;
  font-size: 14px;
  background: #ee4307; }

.title.event__title {
  color: #252525;
  font-size: 30px;
  margin-top: 32px; }

.mainfooter {
  margin-top: 200px; }

.header {
  margin: 0 auto;
  display: flex;
  width: 94.8%;
  justify-content: space-between;
  padding-top: 56px; }

.writeMeButtonn__hr {
  margin-top: 9px; }

.header__logo {
  margin-left: 15px; }

.writeMe {
  margin-right: 17px;
  display: flex; }

.writeMeButton {
  margin-top: 3px;
  margin-right: 27px; }

.writeMeButton__href {
  font-family: "Muller";
  color: #fdfdfd;
  font-size: 19.14px;
  cursor: pointer; }

.exit__circle {
  margin-top: -6px;
  margin-right: -3px;
  cursor: pointer;
  position: relative;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50px; }

.exit__circle.blacklogodescr {
  background: black; }

.exit__line.active {
  width: 17px;
  height: 17px;
  background: url("./images/2line.png"); }

.exit__line {
  background: url("./images/burger.png");
  width: 17px;
  height: 17px;
  left: 30%;
  top: 30%;
  position: absolute; }

.container-menu.active {
  display: flex;
  height: 600px;
  z-index: 100; }

.container-menu {
  display: none;
  margin: 0 auto;
  margin-top: 86px;
  width: 1059px;
  height: 150px;
  justify-content: space-between; }

.menulist {
  text-decoration: none;
  list-style-type: none;
  margin-top: 52px; }

.menulist__li {
  font-family: "Muller";
  font-weight: bold;
  color: #363537;
  font-size: 75px;
  cursor: pointer;
  margin-top: 32px; }

.menulist__li:hover {
  color: #fdfdfd; }

.social {
  margin-right: 5px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column; }

.communication {
  padding-top: 8px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  display: flex;
  flex-direction: column;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight";
  font-weight: 400; }

.communication:last-child {
  margin-top: 21px;
  margin-bottom: 0;
  padding-top: 0; }

.adress {
  margin-top: 40px; }

.adress__text {
  line-height: 27px;
  display: block;
  font-family: "MullerLight";
  font-size: 20px;
  color: #fdfdfd;
  font-weight: 400; }

.networks {
  align-items: center;
  margin-top: 40px;
  display: flex; }

.networks__name {
  cursor: pointer;
  margin-left: 27px; }

.networks__name:first-child {
  margin-left: 0; }

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.writeMeButton__href.blacklogodescr {
  color: black; }

.writeMeButtonn__hr.blacklogodescr {
  color: black; }

.menuLogoBlack {
  display: none; }

.menuLogoWhite {
  display: block; }

.footer {
  height: 655px;
  background: url("./images/footerbg.png"); }

.content {
  height: 162px;
  display: flex;
  justify-content: space-between;
  padding-top: 162px; }

.Blocks {
  width: 686px;
  display: flex; }

.block__text {
  font-family: "MullerRegular";
  font-size: 20px;
  color: #fdfdfd; }

.block__text.descr.sec {
  margin-top: 0; }

.block__text.descr {
  line-height: 30px;
  font-size: 20px;
  color: #fdfdfd;
  margin-top: 40px; }

.footer__logo {
  width: 157px;
  height: 33px; }

.secBlock {
  width: 457px; }

.thirdBlock {
  width: 240px; }

.thirdBlock.descr {
  margin-top: 0; }

.communication.footer_communication {
  width: 39%;
  cursor: pointer;
  padding-top: 14px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  display: flex;
  flex-direction: column;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight";
  font-weight: 400; }

.footer__comm {
  margin-top: 14px; }

.footer_text {
  font-family: "MullerLight";
  font-size: 20px;
  color: #a3a2a2; }

.block__text.descr.adresss {
  margin-top: 55px; }

.footer__adress.footer_text {
  margin-left: 2px;
  margin-top: 20px; }

.footerMenu {
  margin-top: 32px; }

.menuli {
  margin-top: 20px; }

.menu__item.footer_text {
  cursor: pointer;
  text-decoration: none; }

.networks.footer_network {
  margin-left: 6px;
  margin-top: 169px; }

.networks__name {
  cursor: pointer;
  margin-left: 26px; }

.networks__name:first-child {
  margin-left: 0; }

.communication:last-child {
  margin-top: 19px;
  margin-bottom: 0;
  padding-top: 0; }

.communication {
  padding-top: 8px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  display: flex;
  flex-direction: column;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight";
  font-weight: 400; }

.new__title {
  margin-top: -17px;
  font-family: "Muller";
  font-size: 55px;
  color: #040404; }

.new__descr {
  font-family: "MullerRegular";
  font-size: 20px;
  color: #6e6c6c;
  margin-top: 28px; }

.newList {
  width: 1228px;
  margin-top: 47px;
  display: flex;
  flex-wrap: wrap; }

.events.innew_events {
  margin-top: 80px; }

.list__item {
  margin-top: 30px;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  background-color: #f0f0f0;
  font-family: "MullerMedium";
  font-size: 14px;
  color: #555555;
  margin-right: 22px;
  border-radius: 5px; }

.list__item:last-child {
  margin-right: 0px; }

.news__button {
  margin: 0 auto;
  margin-top: 118px;
  width: 304px;
  box-sizing: border-box;
  padding-top: 27px;
  text-align: center;
  display: block;
  height: 70px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Muller";
  text-decoration: none;
  border: 2px solid #d0d0d0;
  color: #222222; }

.event.event_withautmargin {
  margin-top: 0px; }

.newfooter {
  margin-top: 150px; }

.title {
  font-family: "Muller";
  color: #070707; }

.descr {
  font-family: "MullerRegular";
  font-size: 20px; }

.brief__title.title {
  margin-top: 127px;
  margin-left: -5px;
  font-size: 55px; }

#price {
  display: none; }

.brief__descr {
  margin-top: 23px;
  margin-left: -5px;
  font-family: "MullerRegular";
  font-size: 20px;
  color: #6c6c6c; }

.input {
  display: none; }

.Elem__title.title {
  font-size: 30px;
  margin-left: -5px;
  margin-top: 89px; }

.inputs {
  margin-top: 12px;
  width: 996px;
  display: flex;
  flex-wrap: wrap; }

textarea::placeholder {
  padding-top: 30px;
  font-family: "MullerRegular";
  font-size: 20px;
  color: #b6b6b6; }

.label.descr {
  cursor: pointer;
  border-radius: 3px;
  margin-top: 26px;
  margin-right: 20px;
  padding: 27px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #6c6c6c;
  text-align: center;
  width: 312px; }

.input:checked ~ .label {
  background-color: #f84525;
  color: white; }

.input:checked ~ .label2 {
  background-color: #f84525;
  color: white; }

.inputs.secondinputs {
  margin-top: 20px;
  width: 100%; }

.Elem__title.title.price {
  margin-top: 68px; }

.Elem__title.title.tusk {
  margin-top: 65px; }

.label2 {
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 21px;
  padding: 28px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #6c6c6c;
  text-align: center;
  width: 170px; }

.hr {
  margin-top: 84px;
  width: 119.5%; }

.tusk__textarea {
  font-size: 20px;
  outline: none;
  resize: none;
  width: 964px;
  height: 216px;
  padding: 0;
  margin-top: 36px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-decoration: none; }

.typeFile {
  margin-top: 17px;
  display: flex; }

.inputWrapper {
  display: flex; }

.file {
  display: none; }

.file__label.descr {
  display: inline;
  color: #6c6c6c;
  border-bottom: 1px solid #6c6c6c; }

.file__descr.descr {
  padding-left: 10px;
  color: #b6b6b6;
  margin-left: 15px; }

.inputTextWrapper {
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap; }

.inputText:nth-child(2n) {
  margin-left: 20px; }

.inputText {
  outline: none;
  font-size: 25px;
  color: #f84525;
  border-radius: 4px;
  margin-top: 25px;
  width: 480px;
  height: 65px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 0; }

.briefButton {
  margin-top: 50px;
  text-decoration: none;
  box-sizing: border-box;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Muller";
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  background-color: #f84525; }

.hr.contacts {
  margin-top: 76px; }

.inputText::placeholder {
  padding-left: 31px;
  font-family: "MullerRegular";
  font-size: 20px;
  color: #b6b6b6; }

.Elem__title.title.contacts {
  margin-top: 80px; }

.politic.descr {
  margin-left: -5px;
  font-size: 18px;
  margin-top: 20px; }

.footerBrief {
  margin-top: 168px; }

.whiteback > .bg .menuLogoBlack {
  margin-left: -5px;
  display: block; }

.whiteback > .bg .menuLogoWhite {
  display: none; }

.whiteback > .bg .writeMeButton__href {
  color: black; }

.whiteback > .bg .exit__circle {
  background: black; }

.whiteback > .bg .exit__line.active {
  background: url(./images/whitecrest.png); }

.whiteback > .bg .exit__line {
  background: url(./images/burgerwhite.png); }

.footerBrief > .footer .content {
  padding-top: 166px; }

.footerBrief > .footer .block__text.descr.adresss {
  margin-top: 58px;
  margin-left: 5px; }

.footerBrief > .footer .footer__logo {
  margin-left: 7px; }

.footerBrief > .footer .block__text.descr {
  margin-left: 5px; }

.footerBrief > .footer .networks.footer_network {
  margin-top: 165px; }

.footerBrief > .footer .footer__comm {
  margin-top: 12px;
  margin-left: 5px; }

.title.title_white.title_main.school {
  margin-top: 35px;
  margin-left: -5px; }

.descr.descr_white.descr_main.school {
  line-height: 35px;
  margin-top: 28px; }

.button.button_red.main_button.school {
  margin-top: 56px; }

.main__picture.school {
  position: relative;
  margin-top: 39px;
  left: 159px; }

.targets {
  display: flex;
  margin-top: 150px; }

.targets_column {
  display: flex;
  flex-direction: column; }

.column__img {
  margin-top: 85px;
  margin-left: 35px;
  width: 267px;
  height: 260px; }

.column_target {
  display: flex;
  margin-left: 5px;
  flex-direction: column; }

.targets_target {
  width: 430px; }

.descr.target_descr {
  padding: 6px 0 65px 0; }

.target_descr.descr.target_descr_elem {
  margin-top: 10px;
  padding: 0; }

.target_sub.subtitle {
  line-height: 35px; }

.button.button_red.target_button {
  width: 292px;
  margin-left: -3px; }

.upYourSkillWrapper {
  display: flex; }

.upYourSkill_titleblock {
  margin-top: 150px;
  height: 453px;
  display: flex;
  flex-direction: column; }

.title.title_white {
  line-height: 65px; }

.upYourSkill {
  width: 100%;
  margin-top: 150px;
  background: url("./images/skillup.png") no-repeat center top/cover; }

.button.upYourSkill_button {
  margin-top: 40px;
  width: 390px;
  background: none;
  color: #ffffff;
  border: 1px solid #565656; }

.upYourSkill_countblock {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px; }

.countblock_elem {
  margin-left: 141px;
  margin-top: 80px; }

.elem__number {
  font-family: "MullerExtraBold";
  font-size: 80px;
  color: white; }

.elem_name2.descr {
  margin-top: 10px; }

.title.who_title {
  margin-top: 150px;
  margin-right: 15px; }

.who {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.descr.who_descr {
  margin-top: 26px;
  margin-left: 22px; }

.who_categories {
  margin-top: 96px;
  display: flex; }

.categories_category {
  margin-left: 26px;
  width: 450px;
  height: 357px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.categories_category:first-child {
  margin-left: 0; }

.subtitle.category_subtitle {
  padding-bottom: 19px;
  margin-top: 50px;
  margin-left: 35px; }

.descr.category_descr {
  margin-left: 40px; }

.category_end {
  margin-top: 60px;
  display: flex;
  justify-content: space-between; }

.end__more {
  cursor: pointer;
  height: 15px;
  text-decoration: none;
  font-family: "Muller";
  font-size: 15.34px;
  color: #6e6c6c;
  margin-left: 40px;
  border-bottom: 1px solid #6e6c6c; }

.end__img {
  margin-right: 30px;
  margin-top: -65px; }

.category_heigth {
  height: 160px; }

.suggestsBlock {
  background: url("./images/bgweare.png");
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1173px;
  align-items: center; }

.suggest {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 451px;
  height: 641px;
  margin-left: 27px;
  border-radius: 10px;
  background: white; }

.suggest:first-child {
  margin-left: 0; }

.suggest_title.title {
  margin-top: 145px; }

.suggest_subtitle.subtitle {
  margin-top: 47px;
  font-size: 30px;
  line-height: 37px; }

.suggestsBlock_suggest {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 108px; }

.suggest_wrapper {
  display: flex;
  flex-direction: column;
  line-height: 36px; }

.suggest_menu__item.descr {
  list-style-image: url(./images/circle.png); }

.suggest_menu__item::marker {
  width: 300px;
  height: 300px; }

.wrepper_height {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 330px;
  height: 350px; }

.suggest_menu {
  margin-left: 15px;
  margin-top: 25px; }

.suggest__price {
  margin-top: 88px;
  margin-left: 60px;
  padding-bottom: 43px; }

.suggest_menu__item.descr {
  margin-top: 7px;
  padding-left: 10px;
  line-height: 35px; }

.suggest:hover {
  transform: scale(1.1); }

.button.button_onhover {
  margin: 0 auto;
  width: 297px; }

.suggest:hover .button_onhover {
  background: #f84525;
  border: 0;
  color: white; }

.program {
  margin-top: 150px; }

.day {
  width: 846px;
  margin-left: 100px; }

.day__hr:first-child {
  margin-top: 0; }

.descr.day__number {
  margin-top: 34px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #e25a00; }

.program_descr.descr {
  padding-bottom: 66px; }

.day_wrapper {
  display: flex;
  justify-content: space-between; }

.day_crest {
  transform: perspective(100px);
  transition: 0.5s;
  margin-top: -20px;
  width: 23px;
  height: 23px; }

.day_crest.active {
  transform: rotateZ(45deg); }

.subtitle.day_subtitle {
  padding-bottom: 21px; }

.day_description.active {
  display: block; }

.day_description {
  display: none; }

.descr.descrtitle {
  padding-bottom: 10px;
  color: #252525;
  margin-top: 8px; }

.description_menu_item.descr {
  margin-top: 8px;
  margin-left: 3px;
  color: #6e6c6c; }

.dz_descr.descr {
  margin-bottom: 32px;
  margin-top: 5px; }

.day__hr {
  width: 102%; }

.descr.descrtitle.dztitle {
  margin-top: 21px; }

.request {
  margin-top: 102px;
  height: 773px;
  padding-top: 10px;
  background: url(./images/zaiavka.png); }

.whitedescr.descr {
  color: white; }

.request__input {
  font-size: 25px;
  color: white;
  outline: none;
  margin-top: 42px;
  height: 60px;
  width: 400px;
  background: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white; }

.request__input::placeholder {
  color: white;
  font-family: "Mullerregular";
  font-size: 20px; }

.descr.whitedescr.small {
  font-size: 16px;
  margin-top: 30px;
  line-height: 20px; }

.button.white_button {
  background: white;
  border: none;
  color: black; }

.title.title_white.req_title {
  margin-top: 130px; }

.descr.whitedescr.req_descr {
  margin-top: 23px;
  padding-bottom: 2px; }

.request__input:nth-child(even) {
  margin-left: 70px; }

.anyinput.request__input {
  height: 55px;
  margin-top: 29px; }

.button.white_button.req__button {
  width: 325px;
  margin-top: 60px; }

.schoolfooter > .footer .content {
  padding-top: 166px; }

.case__title.title {
  margin-top: 139px; }

.case__descr {
  margin-top: 20px;
  line-height: 30px;
  font-family: "MullerMedium";
  font-size: 20px;
  color: #858484; }

.list__item.case_list__item {
  margin-top: 28px;
  padding: 15px 23px; }

.casefooter {
  margin-top: 50px; }

.inCase_mainblock {
  margin-top: 65px;
  margin-left: 18.5%;
  display: flex; }

.mainBlock_works {
  width: 546px; }

.inCase_descr {
  font-size: 14px;
  color: #f84525;
  margin-top: 73px;
  letter-spacing: 3px; }

.casessubtitle.mainblock_casessubtitle {
  font-size: 55px;
  margin-top: 30px; }

.descr.mainblock_descr {
  margin-top: 9px; }

.inCase_steps {
  margin-top: 53px; }

.step_subtitle.descr {
  padding-top: 39px;
  padding-bottom: 9px;
  font-family: "MullerMedium";
  color: #101010; }

.step_descr.descr {
  margin-top: 17px; }

.step_descr.descr.last_step {
  margin-top: 19px; }

.inCase_stepsBlock {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px; }

.step_anystep.step.step_anystep2 {
  margin-left: 132px; }

.step:nth-child(even) {
  margin-left: 120px; }

.first_step {
  margin-top: 3px; }

.step.step_sec {
  margin-left: 0; }

.step_subtitle.descr.step_anypad {
  padding-bottom: 17px; }

.imgweb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4606px;
  width: 100%;
  background-color: #ebebeb; }

.step_anystep.step {
  margin-top: 26px; }

.step_subtitle.descr.step_anypad.step_anypad2 {
  padding-bottom: 4px; }

.imgweb_img {
  margin-top: -22px;
  width: 1212px;
  height: 4263px; }

.anyworks_title {
  margin-top: 150px; }

.casesImages.anyworks_casesImages {
  justify-content: space-between;
  margin-top: 27px; }

.images.anyworks_images:hover {
  transform: translate(0, 70px); }

.anyworksButtonWrapper {
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center; }

.anyworksFooter {
  margin-top: 149px; }

.anyworksFooter > .footer .content {
  padding-top: 165px; }

.anyworksFooter > .footer .thirdBlock.descr {
  margin-left: -30px; }

.webDesign {
  background: url(./images/inNewim1.jpg); }

.webDesign_descr.descr {
  margin-top: 60px;
  letter-spacing: 3px;
  color: #f84525;
  font-size: 14px; }

.title.title_white.webDesign_descr {
  margin-top: 50px;
  margin-left: 45px;
  padding-bottom: 145px; }

.abouttext {
  margin-top: 55px; }

.subtitle.par__subtitle {
  letter-spacing: -0.5px;
  padding-top: 96px; }

.descr.par__descr {
  margin-top: 30px; }

.descr.par__descr:first-child {
  margin-top: 0; }

.descr.par__descr_elem.nextpar {
  margin-top: 30px; }

.descr.par__descr.last_par__descr {
  margin-top: 30px; }

.descr.par__descr.any {
  margin-top: 42px; }

.par__descr_elem.descr {
  margin-top: 13px; }

.par_images {
  display: flex;
  margin-top: 96px; }

.c_video:first-child {
  margin-left: 0px; }

.par__subtitle.subtitle.lastsubtitle {
  padding-top: 88px; }

.anyevents {
  height: 1130px;
  margin-top: 120px;
  background: url(./images/inNewim9.png); }

.title.anyevents__title {
  padding-top: 150px; }

.inNewfooter {
  margin-top: 2px; }

.webDesign > .bg .menuLogoWhite {
  margin-top: -10px; }

.controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.c_video {
  cursor: pointer;
  width: 357px;
  height: 265px;
  margin-left: 27px;
  position: relative;
  width: 358px;
  height: 267px; }

.play_pause {
  transition: 0.3;
  opacity: 1; }

.play_pause.active {
  opacity: 0; }

.services__title.title {
  margin-top: 140px; }

.descr.descr__title {
  margin-top: 25px; }

.services_elems {
  padding-top: 49px; }

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 183px;
  display: flex;
  height: 888px;
  background: url(./images/servicesbg.png); }

.friends_title.title {
  margin-top: 109px;
  line-height: 69px;
  text-align: center; }

.friends_wrapper {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  padding-top: 68px;
  margin: 0 auto;
  width: 1549px; }

.friends_wrapper.friend_wrapper_anymargin {
  padding-top: 93px; }

.friend__logo {
  margin-top: 50px; }

.servicesfooter {
  margin-top: -17px; }

.list__name_withlineh.list__name {
  line-height: 34px; }

.inServ_descr.descr {
  margin-top: 33px;
  color: #262626; }

.descr.inServ_descr.second {
  margin-top: -8px; }

.inServ_descr.descr.row {
  margin-top: 21px; }

.inServ_descr.descr.row:first-child {
  margin-top: 0px; }

.inServ_descr.descr.ul {
  margin-top: 8px;
  line-height: 38px; }

.inServ_subtitle.subtitle {
  padding-bottom: 14px; }

.inServ_textBlock {
  margin-top: 96px; }

.ul_block {
  margin-top: 26px; }

.textBlock_button {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center; }

.doelem_wrapper {
  margin-top: 96px; }

.doelem_button.textBlock_button {
  margin-top: 94px; }

.inservfooter {
  margin-top: -16px; }

.inserv_friends.friends {
  margin-top: 173px; }

.inServFriend.friends {
  margin-top: 154px; }

.job_title.title {
  margin-top: 134px; }

.job_descr.descr {
  margin-top: 23px; }

.job_jobs {
  margin-top: 57px;
  display: flex;
  flex-wrap: wrap; }

.jobs_vacancy {
  margin-top: 58px;
  width: 500px;
  height: 281px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px; }

.vacancy_wrapper {
  margin-top: 85px;
  margin-left: 72px; }

.jobs_vacancy:nth-child(even) {
  margin-left: 98px; }

.descr.vacancy_descr {
  margin-top: 27px;
  line-height: 29px; }

.jobs_vacancy:hover {
  background: #ee4307; }

.jobs_vacancy:hover .vacancy_subtitle {
  color: #ffffff; }

.jobs_vacancy:hover .vacancy_descr {
  color: #ffffff; }

.job_request.request {
  height: 798px;
  margin-top: 146px; }

.descr.whitedescr.req_descr.req_descr_job {
  margin-top: 41px;
  padding-bottom: 16px; }

.subtitle.inJob_subtitle {
  font-size: 36px; }

.descr.descrbig {
  margin-top: 16px;
  font-size: 24px; }

.inJob_descr.descr {
  padding-bottom: 21px;
  color: #262626;
  font-size: 24px;
  margin-top: 44px; }

.second_inJob_descr.descr {
  margin-top: 57px; }

.communication_inline {
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #f84525;
  color: #f84525;
  font-size: 20px;
  font-family: "MullerLight"; }

.injobfooter {
  margin-top: 2px; }

.injob_request.request {
  margin-top: 150px;
  height: 809px; }

@media (max-width: 1360px) {
  .container {
    width: 1220px; } }

@media (max-width: 960px) {
  .header {
    padding-top: 66px; }
  .about__text {
    font-size: 36px; }
  .elem__name {
    margin-top: 48px; }
  .container-menu {
    width: 800px; }
  .container {
    width: 850px; }
  .main__picture {
    position: static; }
  .advwrapper {
    width: 50%; }
  .title.do_title {
    text-align: center; }
  .descr.do_title {
    text-align: center; }
  .do_doElems {
    flex-direction: row; }
  .doElem {
    width: 409px;
    display: flex;
    flex-direction: column; }
  .elem_img {
    width: 409px;
    height: 284px; }
  .elemDescr {
    margin-left: 0; }
  .title.event__title {
    font-size: 24px; }
  .event:nth-child(even) {
    margin-top: 0; }
  .event__img {
    width: 382px; }
  .newList {
    width: 100%; }
  .list {
    width: 403.3px; }
  .inputs {
    width: 995px; }
  .inputs.secondinputs {
    width: 85%; }
  .inputText {
    width: 415px; }
  .hr {
    width: 100%; }
  .tusk__textarea {
    width: 100%; }
  .jobs_vacancy:nth-child(even) {
    margin-left: 30px; }
  .jobs_vacancy {
    width: 410px;
    height: 280px; }
  .request__input:nth-child(even) {
    margin-left: 38px; }
  .services_elems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .friends {
    margin-top: 93px;
    height: 601px; }
  .friend__logo {
    width: 122px;
    margin-top: 50px; }
  .friends_wrapper {
    padding-top: 0;
    width: 858px; }
  .doelem_wrapper {
    display: flex;
    margin-top: 96px; }
  .who_categories {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .categories_category {
    margin-left: 0px;
    width: 738px;
    height: 357px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } }

@media (max-width: 540px) {
  .container {
    width: 500px; }
  .about__text {
    margin-left: 0; }
  .main__picture {
    margin: 0 auto;
    order: 1;
    width: 427px;
    position: static; }
  .text {
    order: 2;
    margin-top: 60px; }
  .main-wrapper {
    display: flex;
    flex-direction: column; }
  .advwrapper {
    width: 100%; }
  .doElem {
    width: 160%; }
  .do_doElems {
    flex-direction: column; }
  .elem_img {
    width: 68%;
    margin-left: -20px; } }

@media (max-width: 320px) {
  .container {
    width: 281px; } }
